<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @project,
             page_title: "The heritage of your project"
         }
%>

<%=
  render partial: "partials/summary_errors",
         locals: {
             form_object: @project,
             first_form_element: :project_heritage_description
         } if @project.errors.any?
%>

<%=
  form_for @project,
           url: :three_to_ten_k_project_your_project_heritage,
           method: :put do |f|
%>

  <div class="govuk-character-count" data-module="govuk-character-count"
       data-maxwords="500">

    <div class="govuk-form-group <%= "govuk-form-group--error" if
                                @project.errors[:heritage_description].any? %>">

      <h1 class="govuk-label-wrapper">
        <span class="govuk-caption-xl">About your project</span>
        <%=
          f.label :heritage_description,
                  "The heritage of your project: how do you plan to make it " \
                  "available once the project is over?",
                  class: "govuk-label govuk-label--xl"
        %>
      </h1>

      <span id="project_heritage_description-hint" class="govuk-hint">
        This helps us understand how you plan to preserve the heritage of your
        project and the difference it will make after the project ends.
      </span>

      <span id="project_heritage_description-hint" class="govuk-hint">
        We use this section to assess the value for money of our investment in
        your project.
      </span>

      <%=
        render partial: "partials/form_input_errors",
               locals: {
                   form_object: @project,
                   input_field_id: :heritage_description} if
            @project.errors[:heritage_description].any?
      %>

      <%=
        f.text_area :heritage_description,
                    rows: 10,
                    class: "govuk-textarea govuk-js-character-count " \
                      "#{'govuk-input--error' if
                        @project.errors[:heritage_description].any?}",
                    "aria-describedby" => "project_heritage_description-info " \
                      "project_heritage_description-hint"
      %>

      <span id="project_heritage_description-info"
            class="govuk-hint govuk-character-count__message"
            aria-live="polite">
        You can enter up to 500 words
      </span>

    </div>

  </div>

  <%= render(ButtonComponent.new(element: "input")) %>

<% end %>