<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @organisation,
             page_title: "About your organisation"
         }
%>

<%= render partial: "partials/summary_errors", locals: {
    form_object: @organisation,
    first_form_element: :organisation_name
} if @organisation.errors.any? %>

<h1 class="govuk-heading-l" aria-label="Heading">About your organisation</h1>

<p class="govuk-body" aria-label="information">Your organisation must be based in the UK</p>

<h2 class="govuk-heading-m" aria-label="Heading">Enter your organisation address details</h2>

<%= form_for @organisation, url: organisation_about_path, method: :put do |f|  %>

    <div class="govuk-form-group">
      <%= f.label :name, "Organisation name", class: "govuk-label" %>
      <%= render partial: "partials/form_input_errors",
                 locals: {form_object: @organisation,
                          input_field_id: :name} if @organisation.errors[:name].any? %>
      <%= f.text_field :name,
                       autocomplete: 'organization',
                       class: "govuk-input govuk-input--width-20 #{'govuk-input--error' if @organisation.errors[:name].any?}" %>
    </div>

    <div class="govuk-form-group">
      <%= f.label :line1, "Organisation address line 1", class: "govuk-label" %>
      <%= render partial: "partials/form_input_errors",
                 locals: {form_object: @organisation,
                          input_field_id: :line1} if @organisation.errors[:line1].any? %>
      <%= f.text_field :line1,
                       autocomplete: 'address-line1',
                       class: "govuk-input govuk-input--width-20 #{'govuk-input--error' if @organisation.errors[:line1].any?}" %>
    </div>

    <div class="govuk-form-group">
      <%= f.label :line2, "Organisation address line 2", class: "govuk-label" %>
      <%= f.text_field :line2,
                       autocomplete: 'address-line2',
                       class: "govuk-input govuk-input--width-20" %>
    </div>

    <div class="govuk-form-group">
      <%= f.label :line3, "Organisation address line 3", class: "govuk-label" %>
      <%= f.text_field :line3,
                       autocomplete: 'address-line3',
                       class: "govuk-input govuk-input--width-20" %>
    </div>

    <div class="govuk-form-group">
      <%= f.label :townCity, "Organisation town", class: "govuk-label" %>
      <%= render partial: "partials/form_input_errors",
                 locals: {form_object: @organisation,
                          input_field_id: :townCity} if @organisation.errors[:townCity].any? %>
      <%= f.text_field :townCity,
                       autocomplete: 'address-level2',
                       class: "govuk-input govuk-input--width-20 #{'govuk-input--error' if @organisation.errors[:townCity].any?}" %>
    </div>

    <div class="govuk-form-group">
      <%= f.label :county, "Organisation county", class: "govuk-label" %>
      <%= render partial: "partials/form_input_errors",
                 locals: {form_object: @organisation,
                          input_field_id: :county} if @organisation.errors[:county].any? %>
      <%= f.text_field :county,
                       autocomplete: 'address-level1',
                       class: "govuk-input govuk-input--width-20 #{'govuk-input--error' if @organisation.errors[:county].any?}" %>
    </div>

    <div class="govuk-form-group">
      <%= f.label :postcode, "Organisation postcode", class: "govuk-label" %>
      <%= render partial: "partials/form_input_errors",
                 locals: {form_object: @organisation,
                          input_field_id: :postcode} if @organisation.errors[:postcode].any? %>
      <%= f.text_field :postcode,
                       autocomplete: 'postal-code',
                       class: "govuk-input govuk-input--width-20 #{'govuk-input--error' if @organisation.errors[:postcode].any?}" %>
    </div>

    <%= f.save_and_continue %>

<% end %>