<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    <%= t('views.project.check_your_answers.where_is_your_project_taking_place') %>
  </dt>
  <dd class="govuk-summary-list__value">

    <% unless @project.line1.nil? %>
      <p><%= @project.line1 %></p>
    <% end %>

    <% unless @project.line2.nil? %>
      <p><%= @project.line2 %></p>
    <% end %>

    <% unless @project.line3.nil? %>
      <p><%= @project.line3 %></p>
    <% end %>

    <% unless @project.townCity.nil? %>
      <p><%= @project.townCity %></p>
    <% end %>

    <% unless @project.county.nil? %>
      <p><%= @project.county %></p>
    <% end %>

    <% unless @project.postcode.nil? %>
      <p><%= @project.postcode %></p>
    <% end %>
  </dd>

  <%= render 'project/project_check_answers/change_link' %>

</div>
