<div>
  <div>
    <h2 class="govuk-heading-m" aria-label="Heading">About your project</h2>
  </div>

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Check your answers
    </h1>
  </legend>

  <dl class="govuk-summary-list">
    <%= render 'project/project_check_answers/project_title' %>
    <%= render 'project/project_check_answers/project_start_date' %>
    <%= render 'project/project_check_answers/project_completion_date' %>
    <%= render 'project/project_check_answers/project_location' %>
    <%= render 'project/project_check_answers/describe_your_idea' %>

  </dl>

</div>

