<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @funding_application.project,
             page_title: "What difference will your project make?"
         }
%>

<%=
  render partial: "partials/summary_errors",
         locals: {
             form_object: @funding_application.project,
             first_form_element: :project_difference
         } if @funding_application.project.errors.any?
%>

<%=
  form_for @funding_application.project,
           url: :funding_application_gp_project_project_difference,
           method: :put do |f|
%>

  <div class="govuk-character-count" data-module="govuk-character-count"
       data-maxwords="500">

    <div class="govuk-form-group <%= "govuk-form-group--error" if
                                         @funding_application.project.errors[:difference].any? %>">

      <h1 class="govuk-label-wrapper">
        <span class="govuk-caption-xl">About your project</span>
        <%=
          f.label :difference,
                  "What difference will your project make?",
                  class: "govuk-label govuk-label--xl"
        %>
      </h1>

      <span id="project_difference-hint" class="govuk-hint">
        Tell us what impact your project will have on heritage, people,
        your community, and the environment.
      </span>

      <%=
        render partial: "partials/form_input_errors",
               locals: {
                   form_object: @funding_application.project,
                   input_field_id: :difference
               } if @funding_application.project.errors[:difference].any?
      %>

      <%=
        f.text_area :difference,
                    rows: 10,
                    class: "govuk-textarea govuk-js-character-count " \
                           "#{'govuk-input--error' if
                        @funding_application.project.errors[:difference].any?}",
                    "aria-describedby" => "project_difference-info " \
                    "project_difference-hint"
      %>

      <span id="project_difference-info"
            class="govuk-hint govuk-character-count__message"
            aria-live="polite">
        You can enter up to 500 words
      </span>

    </div>

  </div>

  <%= render(ButtonComponent.new(element: "input")) %>

<% end %>