<%=
  render partial: "partials/page_title",
         locals: {
             model_object: nil,
             page_title: t('new_application.page_title')
         }
%>

<%=
  render partial: "partials/summary_errors",
         locals: {
             form_object: @application,
             first_form_element: :new_application_application_type_sff_small
         } if @application.errors.any?
%>

<%= 
  form_with model: @application,
  url: :start_an_application,
  method: :put,
  local: true do |f|  
%>

  <div class="govuk-form-group">

    <fieldset class="govuk-fieldset">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading">
          <%= t('new_application.page_heading') %>
        </h1>
      </legend>

      <span id="project-title-hint" class="govuk-hint">
        <%= t('new_application.page_sub_heading') %>
      </span>

      <%=
        render partial: "partials/form_group_errors",
              locals: {
                  form_object: @application
              } if @application.errors.any?
      %>

      <% if Flipper[:grant_programme_sff_small].enabled? %>

        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

          <div class="govuk-radios__item">

            <%=
              f.radio_button :application_type,
              "sff_small",
              class: "govuk-radios__input",
              "data-aria-controls" => "conditional-application_type_sff_small"
            %>

            <%= 
              f.label :sff_small, 
              t('new_application.types.gp_oss_small.name'),
              class: "govuk-label govuk-radios__label govuk-label--s" 
            %>

          <span id="application_type_sff_small-hint" class="govuk-hint govuk-radios__hint">
            <%= t('new_application.types.gp_oss_small.info') %>
          </span>

          </div>

          <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
              id="conditional-application_type_sff_small">

            <p class="govuk-body">
              <%= t('new_application.types.gp_oss_small.info_conditional') %>
            </p>

            <ul class="govuk-list govuk-list--bullet">

              <li>
                <%= t('new_application.types.gp_oss_small.info_conditional_li_1') %>
              </li>

              <li>
                <%= t('new_application.types.gp_oss_small.info_conditional_li_2') %>
              </li>

            </ul>

          </div>

        </div>

      <% end %>

    </fieldset>

  </div>

  <%= 
    render(
      ButtonComponent.new(
        element: "input",
        is_start_button: true,
        text: "Start a new application"
      )
    ) 
  %>

<% end %>