<% content_for :page_title, "Your account" %>

<p class="govuk-body"><%= link_to "Back", "javascript:history.back();", class: "govuk-back-link" %></p>

<h2 class="govuk-heading-l">Your account</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="govuk-form-group">
    <%= f.label :email, "Email", class: "govuk-label" %>
    <span id="email-hint" class="govuk-hint">
      This is the email address associated with your account.
    </span>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "govuk-input govuk-input--width-20" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="govuk-form-group">
      <p class="govuk-body">Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    </div>
  <% end %>

  <div class="govuk-form-group">
    <%= f.label :password, class: "govuk-label" %>
    <span id="password-hint" class="govuk-hint">
      Leave blank if you don't want to change it
    </span>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "govuk-input govuk-input--width-20" %>
  </div>

  <div class="govuk-form-group">
    <%= f.label :password_confirmation, class: "govuk-label" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "govuk-input govuk-input--width-20" %>
  </div>

  <div class="govuk-form-group">
    <%= f.label :current_password, class: "govuk-label" %>
    <span id="password-hint" class="govuk-hint">
      We need your current password to confirm your changes
    </span>
    <%= f.password_field :current_password, autofocus: true, autocomplete: "current-password", class: "govuk-input govuk-input--width-20" %>
  </div>

  <div class="govuk-form-group">
    <%= f.submit "Update account", class: "govuk-button"  %>
  </div>

  <p class="govuk-body"><%= link_to "Back", "javascript:history.back();", class: "govuk-back-link" %></p>

<% end %>