<%=
  render partial: "partials/page_title",
         locals: {
             model_object: current_user,
             page_title: "Enter your address details"
         }
%>

<%= render partial: "partials/summary_errors", locals: {
    form_object: current_user,
    first_form_element: :user_line1
} if current_user.errors.any? %>

<h2 class="govuk-heading-xl">
<span class="govuk-caption-xl">Add your details</span>
Enter your address details
</h2>

<%= form_for current_user, url: user_address_path, method: :put do |f|  %>

  <div class="govuk-form-group">
    <%= f.label :line1, "Address line 1", class: "govuk-label" %>
    <%= render partial: "partials/form_input_errors",
               locals: {form_object: current_user,
                        input_field_id: :line1} if current_user.errors[:line1].any? %>
    <%= f.text_field :line1,
                     autocomplete: 'address-line1',
                     class: "govuk-input govuk-input--width-20 #{'govuk-input--error' if current_user.errors[:line1].any?}" %>
  </div>

  <div class="govuk-form-group">
    <%= f.label :line2, "Address line 2", class: "govuk-label" %>
    <%= f.text_field :line2,
                     autocomplete: 'address-line2',
                     class: "govuk-input govuk-input--width-20" %>
  </div>

  <div class="govuk-form-group">
    <%= f.label :line3, "Address line 3", class: "govuk-label" %>
    <%= f.text_field :line3,
                     autocomplete: 'address-line3',
                     class: "govuk-input govuk-input--width-20" %>
  </div>

  <div class="govuk-form-group">
    <%= f.label :townCity, "Town", class: "govuk-label" %>
    <%= render partial: "partials/form_input_errors",
               locals: {form_object: current_user,
                        input_field_id: :townCity} if current_user.errors[:townCity].any? %>
    <%= f.text_field :townCity,
                     autocomplete: 'address-level2',
                     class: "govuk-input govuk-input--width-20 #{'govuk-input--error' if current_user.errors[:townCity].any?}" %>
  </div>

  <div class="govuk-form-group">
    <%= f.label :county, "County", class: "govuk-label" %>
    <%= render partial: "partials/form_input_errors",
               locals: {form_object: current_user,
                        input_field_id: :county} if current_user.errors[:county].any? %>
    <%= f.text_field :county,
                     autocomplete: 'address-level1',
                     class: "govuk-input govuk-input--width-20 #{'govuk-input--error' if current_user.errors[:county].any?}" %>
  </div>

  <div class="govuk-form-group">
    <%= f.label :postcode, "Postcode", class: "govuk-label" %>
    <%= render partial: "partials/form_input_errors",
               locals: {form_object: current_user,
                        input_field_id: :postcode} if current_user.errors[:postcode].any? %>
    <%= f.text_field :postcode,
                     autocomplete: 'postal-code',
                     class: "govuk-input govuk-input--width-10 #{'govuk-input--error' if current_user.errors[:postcode].any?}" %>
  </div>

  <%= f.save_and_continue %>

<% end %>