<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @pre_application.pa_expression_of_interest,
      page_title: t('potential_funding_amount.page_title')
         }
%>

<%= render partial: "partials/summary_errors", locals: {
    form_object: @pre_application.pa_expression_of_interest,
    first_form_element: :pa_expression_of_interest_potential_funding_amount
} if @pre_application.pa_expression_of_interest.errors.any? %>

<%=
  form_for @pre_application.pa_expression_of_interest,
  url: :pre_application_expression_of_interest_likely_ask,
  method: :put do |f| 
%>

  <div class="govuk-form-group <%= "govuk-form-group--error" if
    @pre_application.pa_expression_of_interest.errors[:potential_funding_amount].any? %>">

    <h1 class="govuk-label-wrapper">

      <%= 
        f.label :potential_funding_amount,
        t('potential_funding_amount.page_heading'),
        class: "govuk-label govuk-label--xl govuk-!-margin-bottom-4"
      %>

    </h1>

    <%=
      render partial: "partials/form_input_errors",
               locals: {form_object: @pre_application.pa_expression_of_interest,
                        input_field_id: :potential_funding_amount} if 
                          @pre_application.pa_expression_of_interest.errors[:potential_funding_amount].any?
    %>

    <div class="nlhf-currency-denote">

        <div class="nlhf-currency-denote__symbol">
          &pound;
        </div>

        <div class="nlhf-currency-denote__capture">

          <%=
            f.text_field :potential_funding_amount,
                          "autocomplete" => "off",
                          class: "govuk-input govuk-input--width-10 #{'govuk-input--error' if
                            @pre_application.pa_expression_of_interest.errors['potential_funding_amount.amount'].any?}"
          %>

        </div>

      </div>

  </div>

  <%= 
    render(
      ButtonComponent.new(
        element: "button"
      )
    ) 
  %>

<% end %>
