<% content_for :page_title, @project.errors.any? ? "Error: Why is your project important to your community?" : "Why is your project important to your community?" %>

<%= render partial: "partials/summary_errors", locals: {
    form_object: @project,
    first_form_element: :project_matter
} if @project.errors.any? %>

<%= form_for @project, url: three_to_ten_k_project_matter_put_path, method: :put do |f| %>

  <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="500">

    <div class="govuk-form-group <%= "govuk-form-group--error" if @project.errors[:matter].any? %>">

      <h1 class="govuk-label-wrapper">
        <span class="govuk-caption-xl">About your project</span>
        <%= f.label :matter, "Why is your project important to your community?", class: "govuk-label govuk-label--xl" %>
      </h1>

      <span id="project_description-hint" class="govuk-hint">
        This helps us understand how engaged your community is with your project and why it is important to them.
      </span>

      <%= render partial: "partials/form_input_errors",
                 locals: {form_object: @project,
                          input_field_id: :matter} if @project.errors[:matter].any? %>

      <%= f.text_area :matter, rows: 10,
                      class: "govuk-textarea govuk-js-character-count #{'govuk-input--error' if @project.errors[:matter].any?}",
                      "aria-describedby" => "project_matter-info project_matter-hint" %>

      <span id="project_matter-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
        You can enter up to 500 words
      </span>

    </div>

  </div>

  <%= f.submit "Save and continue", class: "govuk-button", role: "button", "aria-label" => "save and continue button" %>

<% end %>