<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @funding_application,
             page_title: t("supporting_documents.page_title")
         }
%>

<noscript><% no_js = true %></noscript>
<div id="summary-errors"></div>

<%=
  render partial: "partials/summary_errors",
         locals: {
             form_object: @funding_application.gp_hef_loan,
             first_form_element: :gp_hef_loan_supporting_documents_files
         } if @funding_application.gp_hef_loan.errors.any?
%>

<%=
  form_with model: @funding_application,
            url: :funding_application_hef_loan_supporting_documents,
            method: :put,
            remote: no_js ? false : true do |f|
%>

  <%= f.fields_for :gp_hef_loan do | loan | %>

<div class="govuk-form-group">

    <fieldset class="govuk-fieldset">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-6">
        <h1 class="govuk-fieldset__heading">
          <%= t("supporting_documents.page_heading") %>
        </h1>
      </legend>

      <p class="govuk-body">
        <%= t("supporting_documents.what_you_need_to_send") %>
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li><%= t("supporting_documents.what_you_need_to_send_list_item_1") %></li>
        <li><%= t("supporting_documents.what_you_need_to_send_list_item_2") %></li>
        <li><%= t("supporting_documents.what_you_need_to_send_list_item_3") %></li>
        <li><%= t("supporting_documents.what_you_need_to_send_list_item_4") %></li>
      </ul>

      <div id="funding_application.gp_hef_loan.supporting_documents_files-form-group"></div>

      <div id="supporting-documents-form-group-main"
           class="govuk-form-group nlhf-highlight-content govuk-!-margin-bottom-6">

        <div class="govuk-form-group" id="file-upload-form-group">

          <div id="form-group-errors"></div>

          <%=
            render partial: "partials/form_group_errors",
                   locals: {
                       form_object: @funding_application.gp_hef_loan
                   } if @funding_application.gp_hef_loan.errors.any?
          %>

          <div id="funding_application.gp_hef_loan.supporting_documents_files-errors"></div>
          <div class="govuk-form-group">
            <%=
              loan.label :supporting_documents_files,
                      t("supporting_documents.add_your_supporting_documents_label"),
                      class: "govuk-heading-m nlhf-content-highlight__title"
            %>

            <%=
              loan.file_field :supporting_documents_files,
                           direct_upload: true,
                           multiple: true,
                           class: "govuk-file-upload #{"govuk-file-upload--error" if @funding_application.gp_hef_loan.errors.any?}"
            %>

            <%# See https://blog.yorkxin.org/2014/02/06/ajax-with-formdata-is-broken-on-ie10-ie11.html
            for the reasoning behind this workaround %>
            <input type="hidden" name="ieworkaround">

          </div>
        </div>
        <div class="govuk-form-group">
          <%=
            render(ButtonComponent.new(
                text: t("supporting_documents.add_supporting_documents_button"),
                classes: "govuk-button--secondary",
                ))
          %>
        </div>


        <% unless @funding_application.gp_hef_loan.supporting_documents_files.attached? %>

          <p class="govuk-body">
            <%= t("supporting_documents.no_supporting_documents_added") %>
          </p>

        <% else %>

          <table class="govuk-table">

            <thead class="govuk-table__head">

            <tr class="govuk-table__row">

              <th scope="col" class="govuk-table__header">
                <%= I18n.t("accounts.accounts_file") %>
              </th>

            </tr>
            </thead>
            <tbody class="govuk-table__body">

            <% @funding_application.gp_hef_loan.supporting_documents_files.each do |sd| %>

              <tr>
                <td>
                  <%= link_to(sd.blob.filename,
                              rails_blob_path(sd, disposition: "attachment"))
                  %>
                </td>
              </tr>

            <% end %>

            </tbody>
          </table>

        <% end %>

      </div>

    </fieldset>

    <% end %>

<% end %>

<%=
  form_with model: @funding_application,
            url: :funding_application_hef_loan_supporting_documents,
            method: :put,
            remote: no_js ? false : true do |f|
%>

  <%= hidden_field(:complete, true) %>

  <%=
    render(
        ButtonComponent.new(
            element: "input",
            text: t("buttons.labels.default")
        )
    )
  %>

<% end %>

</div>
