<% if @project.errors.any? %>

document.title = "Error: Will capital work be part of your project?";

addSummaryErrors();
addFormGroupErrors();
<% if @project.errors.include?(:capital_work_file) %>
  addErrorToFileField();
<% end %>

<% end %>

function addSummaryErrors() {

    var summaryErrorsElement = document.getElementById("summary-errors");
    summaryErrorsElement.classList.add("govuk-error-summary");
    summaryErrorsElement.setAttribute("aria-labelledby", "error-summary-title");
    summaryErrorsElement.setAttribute("role", "alert");
    summaryErrorsElement.setAttribute("tabindex", "-1");
    summaryErrorsElement.setAttribute("data-module", "govuk-error-summary");

    if (!summaryErrorsElement.innerHTML.includes("h2")) {
        var summaryErrorsHeading = document.createElement("h2");
        summaryErrorsHeading.classList.add("govuk-error-summary__title");
        summaryErrorsHeading.setAttribute("id", "error-summary-title");
        summaryErrorsHeading.innerText = "There is a problem";
        summaryErrorsElement.appendChild(summaryErrorsHeading);
    }

    if (!summaryErrorsElement.innerHTML.includes("div")) {
        var summaryErrorsBodyElement = document.createElement("div");
        summaryErrorsBodyElement.classList.add("govuk-error-summary__body");
        summaryErrorsElement.appendChild(summaryErrorsBodyElement);
    }

    if (!summaryErrorsElement.innerHTML.includes("ul")) {
        var summaryErrorsList = document.createElement("ul");
        summaryErrorsList.classList.add("govuk-list")
        summaryErrorsList.classList.add("govuk-error-summary__list");
        summaryErrorsBodyElement.appendChild(summaryErrorsList);
    }

    <% @project.errors.each do |attr, msg| %>

      if (!summaryErrorsElement.innerHTML.includes("<%= msg %>")) {

          var listItemElement = document.createElement("li");
          var linkElement = document.createElement("a");

          linkElement.setAttribute("data-turbolinks", "false");
          linkElement.setAttribute("href", "#<%= attr.to_s == "capital_work" ? "project_capital_work_false" : "project_capital_work_true" %>");
          linkElement.innerText = "<%= msg %>";

          listItemElement.appendChild(linkElement)
          summaryErrorsList.appendChild(listItemElement);

    }

    <% end %>

}

function addFormGroupErrors() {

    var mainFormGroupElement = document.getElementById("capital-works-form-group-main");
    mainFormGroupElement.classList.add("govuk-form-group--error");

    var formGroupErrorsElement = document.getElementById("form-group-errors");

    <% @project.errors.each do |attr, msg| %>

    // Only add the error message if it is not already present
    if (!formGroupErrorsElement.innerHTML.includes("<%= msg %>")) {

        var spanElement = document.createElement("span");
        spanElement.setAttribute("id", "project[<%= attr %>]-error");
        spanElement.classList.add("govuk-error-message");
        spanElement.innerHTML = "<span class='govuk-visually-hidden'>Error: </span><%= msg %>";

        formGroupErrorsElement.appendChild(spanElement);

    }

    <% end %>

}

function addErrorToFileField() {

    var fileUploadGroup = document.getElementById("file-upload-group");

    <% @project.errors.each do |attr, msg| %>

      <% if attr.to_s == "capital_work_file" %>

        if (!fileUploadGroup.innerHTML.includes("<%= msg %>")) {

            var spanElement = document.createElement("span");
            spanElement.setAttribute("id", "project_capital_work_file-error");
            spanElement.classList.add("govuk-error-message");
            spanElement.innerHTML = "<span class='govuk-visually-hidden'>Error: </span><%= msg %>";

            var fileField = document.getElementById("project_capital_work_file");
            fileField.classList.add("govuk-file-upload--error");
            fileField.setAttribute("aria-describedby", "project_capital_work_file-error");

            fileUploadGroup.prepend(spanElement);

        }

      <% end %>

    <% end %>

}