<% if @project.errors.any? %>

  document.title = "Error: Will capital work be part of your project?";

  createSummaryErrorsSkeleton();

  <% @project.errors.each do |attr, msg| %>

    addSummaryError(
      false,
      "<%= attr %>",
      "<%= msg %>",
      "project",
      "capital_work_files"
    );

  <% end %>

  addFormGroupErrors();

  <% if @project.errors.include?(:capital_work_file) %>
    addErrorToFileField();
  <% end %>

<% end %>

function addFormGroupErrors() {

    var mainFormGroupElement = document.getElementById("capital-works-form-group-main");
    mainFormGroupElement.classList.add("govuk-form-group--error");

    var formGroupErrorsElement = document.getElementById("form-group-errors");

    <% @project.errors.each do |attr, msg| %>

    // Only add the error message if it is not already present
    if (!formGroupErrorsElement.innerHTML.includes("<%= msg %>")) {

        var spanElement = document.createElement("span");
        spanElement.setAttribute("id", "project[<%= attr %>]-error");
        spanElement.classList.add("govuk-error-message");
        spanElement.innerHTML = "<span class='govuk-visually-hidden'>Error: </span><%= msg %>";

        formGroupErrorsElement.appendChild(spanElement);

    }

    <% end %>

}

function addErrorToFileField() {

    var fileUploadGroup = document.getElementById("file-upload-group");

    <% @project.errors.each do |attr, msg| %>

      <% if attr.to_s == "capital_work_file" %>

        if (!fileUploadGroup.innerHTML.includes("<%= msg %>")) {

            var spanElement = document.createElement("span");
            spanElement.setAttribute("id", "project_capital_work_file-error");
            spanElement.classList.add("govuk-error-message");
            spanElement.innerHTML = "<span class='govuk-visually-hidden'>Error: </span><%= msg %>";

            var fileField = document.getElementById("project_capital_work_file");
            fileField.classList.add("govuk-file-upload--error");
            fileField.setAttribute("aria-describedby", "project_capital_work_file-error");

            fileUploadGroup.prepend(spanElement);

        }

      <% end %>

    <% end %>

}