<% content_for :page_title, current_user.errors.any? ? "Error: Add your details" : "Add your details" %>

<%= render partial: "partials/summary_errors", locals: {
    form_object: current_user,
    first_form_element: :user_name
} if current_user.errors.any? %>

<h2 class="govuk-heading-l">Add your details</h2>

<%= form_with model: current_user, url: user_details_path, method: :put, local: true do |f| %>

  <fieldset class="govuk-fieldset">

    <div class="govuk-form-group <%= "#{'govuk-form-group--error' if current_user.errors[:name].any?}" %>">

      <%= render partial: "partials/form_input_errors",
                 locals: {form_object: current_user,
                          input_field_id: :name} if current_user.errors[:name].any? %>

      <%= f.label "Full name", class: "govuk-label" %>
      <%= f.text_field :name,
                       class:"govuk-input #{'govuk-input--error' if current_user.errors[:name].any?}",
                       "autocomplete" => "name",
                       "spellcheck" => "false"
      %>

    </div>

    <div class="govuk-form-group <%= "#{'govuk-form-group--error' if current_user.errors[:phone_number].any?}" %>">

      <%= render partial: "partials/form_input_errors",
                 locals: {form_object: current_user,
                          input_field_id: :phone_number} if current_user.errors[:phone_number].any? %>

      <%= f.label "Telephone number", class: "govuk-label" %>
      <%= f.telephone_field :phone_number,
                            class: "govuk-input govuk-input--width-20 #{'govuk-input--error' if current_user.errors[:phone_number].any?}",
                            "autocomplete" => "tel"
      %>

    </div>

    <div
      class="govuk-form-group <%= "govuk-form-group--error" if
                                        current_user.errors.keys.find {|k| "dob".in? k.to_s or "date_of_birth".in? k.to_s} %>"
      id="user_date_of_birth">

      <% current_user.errors.each do |attr, msg| %>
        <% if "dob".in? attr.to_s or "date_of_birth".in? attr.to_s %>
            <span id="user[<%= attr %>]-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> <%= msg %></span>
        <% end %>
      <% end %>

      <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            What is your date of birth?
          </h1>
        </legend>

        <span id="dob-hint" class="govuk-hint">
          For example, 31 3 1980
        </span>

        <div class="govuk-date-input" id="start-date">

          <div class="govuk-date-input__item">

            <div class="govuk-form-group">

              <%= f.label :dob_day, "Day", class: "govuk-label govuk-date-input__label" %>
              <%= render partial: "partials/date_input", locals: {
                  form_object: current_user,
                  form_for_object: f,
                  model_attribute: :date_of_birth,
                  input_name: :dob_day,
                  input_width: 2,
                  date_type: "day"
              } %>

            </div>

          </div>

          <div class="govuk-date-input__item">

            <div class="govuk-form-group">

              <%= f.label :dob_month, "Month", class: "govuk-label govuk-date-input__label" %>

              <%= render partial: "partials/date_input", locals: {
                  form_object: current_user,
                  form_for_object: f,
                  model_attribute: :date_of_birth,
                  input_name: :dob_month,
                  input_width: 2,
                  date_type: "month"
              } %>

            </div>

          </div>

          <div class="govuk-date-input__item">

            <div class="govuk-form-group">

              <%= f.label :dob_year, "Year", class: "govuk-label govuk-date-input__label" %>
              <%= render partial: "partials/date_input", locals: {
                  form_object: current_user,
                  form_for_object: f,
                  model_attribute: :date_of_birth,
                  input_name: :dob_year,
                  input_width: 4,
                  date_type: "year"
              } %>

            </div>

          </div>

        </div>

      </fieldset>

    </div>

  </fieldset>

  <p class="govuk-body-s">
    The personal information we collect from you will be shared with fraud prevention agencies who will
    use it to prevent fraud and money-laundering and to verify your identity. If fraud is detected, you
    could be refused a grant or loan. Further details of how your information will be used by us and these
    fraud prevention agencies, and your data protection rights, can be found by contacting
    <%=mail_to 'fair.processing@heritagefund.org.uk' %>.
  </p>

  <%= f.submit "Save and continue",
               class: "govuk-button",
               role: "button",
               "aria-label" => "save and continue button"
  %>

<% end %>