<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @funding_application.project,
             page_title: "How much will your project cost?"
         }
%>

<% if @funding_application.project.errors.any? %>

  <div class="govuk-error-summary" aria-labelledby="error-summary-title"
       role="alert" tabindex="-1" data-module="govuk-error-summary">

    <h2 class="govuk-error-summary__title" id="error-summary-title">
      There is a problem
    </h2>

    <div class="govuk-error-summary__body">

      <ul class="govuk-list govuk-error-summary__list">

        <% if @funding_application.project.errors.size == 1 &&
            @funding_application.project.errors[:project_costs].any? %>

          <li>
            <a href='#project_project_costs_attributes_0_cost_type'>
              <%= @funding_application.project.errors.messages[:project_costs][0] %>
            </a>
          </li>

        <% end %>

        <% @funding_application.project.errors.each do |attr, msg| %>

          <% unless attr.to_s == "project_costs" %>
            <li>
              <a href='#project_project_costs_attributes_0_<%= "#{attr.to_s.split('.')[1]}" %>'>
                <%= msg %>
              </a>
            </li>
          <% end %>

        <% end %>

      </ul>

    </div>

  </div>
<% end %>

<div class="nlhf-page-header govuk-!-margin-bottom-9">

  <span class="govuk-caption-xl">About your project</span>

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
    How much will your project cost?
  </h1>

  <p class="govuk-body-l">
    Project costs help us understand how you plan to put your project into
    action.
  </p>

</div>

<section class="nlhf-summary govuk-!-margin-bottom-9" id="project-costs">

  <header class="nlhf-summary__header">
    <h2 class="govuk-heading-m">Your project costs</h2>
  </header>

  <div class="nlhf-summary__body">

    <% unless @funding_application.project.project_costs.first&.id.present? %>

      <h3 class="govuk-heading-m">You have not added any costs yet</h3>

      <p class="govuk-body">
        Each cost will be shown here with a running total
      </p>

    <% else %>

      <table class="govuk-table">

        <thead class="govuk-table__head">

        <tr class="govuk-table__row">

          <th scope="col" class="govuk-table__header">Cost type</th>
          <th scope="col" class="govuk-table__header">Description</th>
          <th scope="col" class="govuk-table__header">Amount</th>
          <th scope="col" class="govuk-table__header"></th>

        </tr>

        </thead>

        <tbody class="govuk-table__body">

        <% @funding_application.project.project_costs.select{|pc| pc.id.present?}.each do |pc| %>

          <tr class="govuk-table__row">

            <td scope="govuk-table__cell" class="govuk-table__cell">
              <%= pc.cost_type&.humanize&.capitalize %>
            </td>

            <td class="govuk-table__cell">
              <%= pc.description %>
            </td>

            <td class="govuk-table__cell govuk-table__cell--numeric">
              <%= number_to_currency(pc.amount, strip_insignificant_zeros: true) %>
            </td>

            <td scope="govuk-table__cell" class="govuk-table__cell">

              <%=
                form_with model: @funding_application.project,
                          url: funding_application_gp_project_cost_delete_path(project_cost_id: pc.id),
                          method: :delete,
                          local: true do |f|
              %>

                <%=
                  render(
                      ButtonComponent.new(
                          element: "input",
                          classes: "govuk-button--warning",
                          text: "Delete",
                          attributes: [
                              {
                                  attribute: "aria-label",
                                  value: "Delete button"
                              }
                          ]
                      )
                  )
                %>

              <% end %>

            </td>

          </tr>

        <% end %>

        </tbody>

      </table>

      <div class="nlhf-summary__total">

        <h3 class="nlhf-summary__total__title">

          <span class="nlhf-summary__total__title-text">Total costs </span>

          <span class="nlhf-summary__total__title-val">

              <%=
                number_to_currency(
                    calculate_total(
                        @funding_application.project.project_costs
                    ),
                    strip_insignificant_zeros: true
                )
              %>

            </span>

        </h3>

      </div>

    <% end %>

  </div>

</section>

<h2 class="govuk-heading-l govuk-!-margin-bottom-6">Add a cost</h2>

<h2 class="govuk-heading-s">Add a new cost for each project cost.</h2>

<p class="govuk-body">
  For example, if you are doing 3 activities, add 3 separate activity cost
  types, each with their own description and amount.
</p>

<%=
  form_with model: @funding_application.project,
            url: :funding_application_gp_project_costs,
            class: "govuk-!-margin-bottom-3",
            method: :put, local: true do |f|
%>

  <%= f.fields_for :project_costs, @funding_application.project.project_costs.build do |pc| %>

    <div class="govuk-form-group govuk-!-margin-top-3 <%= "govuk-form-group--error" if @funding_application.project.errors['project_costs.cost_type'].any? %>">

      <%=
        render partial: "partials/form_input_errors",
               locals: {
                   form_object: @funding_application.project,
                   input_field_id: :'project_costs.cost_type'} if
            @funding_application.project.errors['project_costs.cost_type'].any?
      %>

      <%=
        pc.label :cost_type,
                 class: 'govuk-label'
      %>

      <%= pc.select :cost_type,
                    options_for_select(ProjectCost.cost_types.map { |k, _v| [k.humanize.capitalize, k] },
                                       flash['cost_type']),
                    {},
                    { class: 'govuk-select' }
      %>

    </div>

    <div class="govuk-character-count" data-module="govuk-character-count"
         data-maxwords="50">

      <div class="govuk-form-group <%= "govuk-form-group--error" if
                                           @funding_application.project.errors['project_costs.description'].any? %>">

        <%=
          render partial: "partials/form_input_errors",
                 locals: {
                     form_object: @funding_application.project,
                     input_field_id: :'project_costs.description'} if
              @funding_application.project.errors['project_costs.description'].any?
        %>

        <%=
          pc.label :description,
                   class: 'govuk-label'
        %>

        <%=
          pc.text_area :description,
                       class: "govuk-textarea govuk-js-character-count #{'govuk-textarea--error' if @funding_application.project.errors['project_costs.description'].any?}",
                       rows: 5,
                       value: "#{flash[:description] if
                           flash[:description].present?}"
        %>

        <span id="project_project_costs_attributes_0_description-info"
              class="govuk-hint govuk-character-count__message"
              aria-live="polite">
          You have 50 words remaining
        </span>

      </div>

    </div>

    <div class="govuk-form-group <%= "govuk-form-group--error" if
                                         @funding_application.project.errors['project_costs.amount'].any? %>">

      <%=
        render partial: "partials/form_input_errors",
               locals: {
                   form_object: @funding_application.project,
                   input_field_id: :'project_costs.amount'} if
            @funding_application.project.errors['project_costs.amount'].any? %>

      <%=
        pc.label :amount,
                 class: 'govuk-label'
      %>

      <span id="cost-amount-hint" class="govuk-hint">
        This can be an estimate
      </span>

      <div class="nlhf-currency-denote">

        <div class="nlhf-currency-denote__symbol">
          &pound;
        </div>

        <div class="nlhf-currency-denote__capture">

          <%=
            pc.text_field :amount,
                          "autocomplete" => "off",
                          class: "govuk-input govuk-input--width-10 #{'govuk-input--error' if @funding_application.project.errors['project_costs.amount'].any?}",
                          value: "#{flash[:amount] if flash[:amount].present?}"
          %>

        </div>

      </div>

    </div>

    <%=
      render(
          ButtonComponent.new(
              element: "input",
              text: "Add this cost",
              classes: "govuk-button--secondary"
          )
      )
    %>

  <% end %>

<% end %>

<details class="govuk-details  govuk-!-margin-bottom-6"
         data-module="govuk-details">

  <summary class="govuk-details__summary">

        <span class="govuk-details__summary-text">
          Help with cost types
        </span>

  </summary>

  <div class="govuk-details__text">

    <h3 class="govuk-heading-s">
      New staff costs
    </h3>

    <p class="govuk-body">
      Include costs of new fixed-term contracts, secondments - who are people
      temporarily transferred to your organisation, and the costs of freelance
      staff to help develop your project. Do not include the costs of paying
      trainees here.
    </p>

    <p class="govuk-body">
      You must also openly advertise all project staff posts, unless, you have
      a suitably qualified member of staff on your payroll that you are moving
      into a project post. You need to provide a job description for this post.
    </p>

    <p class="govuk-body">
      If you are extending the hours of a suitably qualified member of staff
      on your payroll, so that they can work on the project. In this case we
      will fund the cost of the additional hours spent on the project and you
      will need to tell us about their role.
    </p>

    <p class="govuk-body">
      If you are moving an existing member of staff into a post created by the
      project, then your grant can either pay for the cost of this member of
      staff, or for the cost of backfilling their position.
    </p>

    <p class="govuk-body">
      All salaries should be based on sector guidelines or similar posts
      elsewhere
    </p>

    <h3 class="govuk-heading-s">
      Professional fees
    </h3>

    <p class="govuk-body">
      Fees should be in line with professional guidelines. For example, those
      of RIBA, The Royal Institute of British Architects, and should be based
      on a clear written specification.
    </p>

    <h3 class="govuk-heading-s">
      Recruitment
    </h3>

    <p class="govuk-body">
      This can include advertising and travel expenses. We expect your
      organisation to keep to good human-resource practice and follow all
      relevant laws.
    </p>

    <h3 class="govuk-heading-s">
      Purchase price of heritage items
    </h3>

    <p class="govuk-body">
      If your project involves buying a heritage item, you must get an
      independent valuation to help show that this item can be bought for a
      realistic price. If you are a private individual or commercial
      organisation you cannot include costs here.
    </p>

    <h3 class="govuk-heading-s">
      Repair and conservation work
    </h3>

    <p class="govuk-body">
      This includes costs of work to repair, restore or conserve a heritage
      item, building or site.
    </p>

    <h3 class="govuk-heading-s">
      Event costs
    </h3>

    <p class="govuk-body">
      Costs for any events, for example, refreshments or room hire.
    </p>

    <h3 class="govuk-heading-s">
      Digital outputs
    </h3>

    <p class="govuk-body">
      Any costs that you require to create digital outputs. Digital outputs
      are things you create in a digital format which are designed to give
      access to heritage. They could also help people engage with and learn
      about heritage. For example, a collection of digital images or sound
      files, an online heritage resource or exhibition or a smartphone app.
    </p>

    <h3 class="govuk-heading-s">
      Equipment and materials, including learning materials
    </h3>

    <p class="govuk-body">
      For example, historic costumes, hard hats to give site access, art
      materials or leaflets and publications.
    </p>

    <h3 class="govuk-heading-s">
      Training for staff and training for volunteers
    </h3>

    <p class="govuk-body">
      Existing and new staff and volunteers may need training to carry out
      your project.
    </p>

    <h3 class="govuk-heading-s">
      Travel for staff and travel for volunteers
    </h3>

    <p class="govuk-body">
      To help staff and volunteers travel to sites. Travel costs by car
      should be based on 45p a mile.
    </p>

    <h3 class="govuk-heading-s">
      Expenses for staff and volunteers
    </h3>

    <p class="govuk-body">
      You can include the costs of expenses for staff and volunteers to make
      sure they are not out of pocket.
    </p>

    <h3 class="govuk-heading-s">
      Other
    </h3>

    <p class="govuk-body">
      Please use for any costs that do not fit with any of the other cost
      headings. Give a clear description of these costs.
    </p>

    <h3 class="govuk-heading-s">
      Publicity and promotion
    </h3>

    <p class="govuk-body">
      You can include the costs of promotional materials that relate directly
      to your project.
    </p>

    <p class="govuk-body">
      Make sure that you acknowledge the support of the National Lottery.
    </p>

    <h3 class="govuk-heading-s">
      Evaluation
    </h3>

    <p class="govuk-body">
      This cost heading is mandatory. All projects must be evaluated. Our
      advice is to budget up to 5% of your costs towards evaluation. Depending
      on the scale of the project and how complicated it is, you may want to
      employ somebody to help evaluate your project and assess whether you are
      successfully achieving the outcomes you set out in your application.
    </p>

    <h3 class="govuk-heading-s">
      Contingency
    </h3>

    <p class="govuk-body">
      This cost heading is mandatory. A contingency is only used to pay for
      unexpected costs required to deliver your project. The total contingency
      figure may be up to 10% of the total costs of the project, unless you
      have a particularly complex capital project where a higher level may be
      required. Make sure that you only include your required contingency here
      and not included within the other cost headings in the application.
    </p>

  </div>
</details>

<hr class="govuk-section-break--l govuk-section-break--visible">

<p class="govuk-body">If you have finished adding all your costs</p>

<%=
  form_with url: :funding_application_gp_project_confirm_costs,
            method: :put, local: true do
%>

  <%= render(ButtonComponent.new(element: "input")) %>

<% end %>
