<h2 class="govuk-heading-l">
  <%= t("form.organisation_details.heading") %>
</h2>

<p class="govuk-body">
  <%= t("form.organisation_details.sub_heading") %>
</p>

<%= form_object.fields_for :organisation, @funding_application.organisation do | o | %>

  <div class="govuk-form-group <%= 'govuk-form-group--error' if 
    @funding_application.organisation.errors[:name].any? %>">

    <%= 
      o.label t("form.organisation_details.name_of_organisation"), 
      class: 'govuk-label govuk-label--m' 
    %>

    <%=
      render partial: "partials/form_input_errors",
            locals: {
                form_object: @funding_application.organisation,
                input_field_id: :name
            } if @funding_application.organisation.errors[:name].any?
    %>

    <%=
      o.text_field :name,
      class: "govuk-input #{'govuk-input--error' if 
        @funding_application.organisation.errors[:name].any?}"
    %>

  </div>

  <div class="govuk-form-group <%= 'govuk-form-group--error' if @funding_application.organisation.errors[:custom_org_type].any? %>">

    <fieldset class="govuk-fieldset" aria-describedby="organisation-type-hint">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
          <%= t("form.organisation_details.organisation_type") %>
        </h2>
      </legend>

      <span id="organisation-type-hint" class="govuk-hint">
        <%= t("generic.choose_all_that_apply") %>
      </span>

      <%=
        render partial: "partials/form_input_errors",
              locals: {
                  form_object: @funding_application.organisation,
                  input_field_id: :custom_org_type
              } if @funding_application.organisation.errors[:custom_org_type].any?
      %>

    <div class="govuk-checkboxes" data-module="govuk-checkboxes">

      <% 
        associate_registered_charity_row = 
          @funding_application.organisation.organisations_org_types.find_by(
            org_type_id: @org_type_registered_charity.id
          )
      %>

      <%= 
        o.fields_for :organisations_org_types, 
        (associate_registered_charity_row.present? ? 
          associate_registered_charity_row : 
          @funding_application.organisation.organisations_org_types.select { |ot| ot.org_type_id == @org_type_registered_charity.id }) do | org_type |
      %>

        <div class="govuk-checkboxes__item">

          <%=
            org_type.check_box :org_type_id,
              {
                multiple: false,
                id: :registered_charity,
                class: "govuk-checkboxes__input",
                checked: OrganisationsOrgType.find_by(
                  organisation_id: @funding_application.organisation.id,
                  org_type_id: @org_type_registered_charity.id
                ) ? true : false
              },
              @org_type_registered_charity.id,
              nil
          %>

          <%=
            org_type.label :registered_charity,
            t("form.organisation_details.registered_charity"),
            for: :registered_charity,
            class: "govuk-label govuk-checkboxes__label"
          %>

        </div>

      <% end %>

      <% 
        associate_registered_company_row = 
          @funding_application.organisation.organisations_org_types.find_by(
            org_type_id: @org_type_registered_company.id
          )
      %>

      <%= 
        o.fields_for :organisations_org_types, 
        (associate_registered_company_row.present? ? 
          associate_registered_company_row : 
          @funding_application.organisation.organisations_org_types.select { |ot| ot.org_type_id == @org_type_registered_company.id }) do | org_type |
      %>

        <div class="govuk-checkboxes__item">

          <%=
            org_type.check_box :org_type_id,
              {
                multiple: false,
                id: :registered_company,
                class: "govuk-checkboxes__input",
                checked: OrganisationsOrgType.find_by(
                  organisation_id: @funding_application.organisation.id,
                  org_type_id: @org_type_registered_company.id
                ) ? true : false
              },
              @org_type_registered_company.id,
              nil
          %>

          <%=
            org_type.label :registered_company,
            t("form.organisation_details.registered_company"),
            for: :registered_company,
            class: "govuk-label govuk-checkboxes__label"
          %>

        </div>

      <% end %>

      <% 
        associate_community_interest_company_row = 
          @funding_application.organisation.organisations_org_types.find_by(
            org_type_id: @org_type_community_interest_company.id
          )
      %>

      <%= 
        o.fields_for :organisations_org_types, 
        (associate_community_interest_company_row.present? ? 
          associate_community_interest_company_row : 
          @funding_application.organisation.organisations_org_types.select { |ot| ot.org_type_id == @org_type_community_interest_company.id }) do | org_type |
      %>

        <div class="govuk-checkboxes__item">

          <%=
            org_type.check_box :org_type_id,
              {
                multiple: false,
                id: :community_interest_company,
                class: "govuk-checkboxes__input",
                checked: OrganisationsOrgType.find_by(
                  organisation_id: @funding_application.organisation.id,
                  org_type_id: @org_type_community_interest_company.id
                ) ? true : false
              },
              @org_type_community_interest_company.id,
              nil
          %>

          <%=
            org_type.label :community_interest_company,
            t("form.organisation_details.community_interest_company"),
            for: :community_interest_company,
            class: "govuk-label govuk-checkboxes__label"
          %>

        </div>

      <% end %>

      <% 
        associate_faith_based_organisation_row = 
          @funding_application.organisation.organisations_org_types.find_by(
            org_type_id: @org_type_faith_based_organisation.id
          )
      %>

      <%= 
        o.fields_for :organisations_org_types, 
        (associate_faith_based_organisation_row.present? ? 
          associate_faith_based_organisation_row : 
          @funding_application.organisation.organisations_org_types.select { |ot| ot.org_type_id == @org_type_faith_based_organisation.id }) do | org_type |
      %>

        <div class="govuk-checkboxes__item">

          <%=
            org_type.check_box :org_type_id,
              {
                multiple: false,
                id: :faith_based_organisation,
                class: "govuk-checkboxes__input",
                checked: OrganisationsOrgType.find_by(
                  organisation_id: @funding_application.organisation.id,
                  org_type_id: @org_type_faith_based_organisation.id
                ) ? true : false
              },
              @org_type_faith_based_organisation.id,
              nil
          %>

          <%=
            org_type.label :faith_based_organisation,
            t("form.organisation_details.faith_based_organisation"),
            for: :faith_based_organisation,
            class: "govuk-label govuk-checkboxes__label"
          %>

        </div>

      <% end %>

      <% 
        associate_church_organisation_row = 
          @funding_application.organisation.organisations_org_types.find_by(
            org_type_id: @org_type_church_organisation.id
          )
      %>

      <%= 
        o.fields_for :organisations_org_types, 
        (associate_church_organisation_row.present? ? 
          associate_church_organisation_row : 
          @funding_application.organisation.organisations_org_types.select { |ot| ot.org_type_id == @org_type_church_organisation.id }) do | org_type |
      %>

        <div class="govuk-checkboxes__item">

          <%=
            org_type.check_box :org_type_id,
              {
                multiple: false,
                id: :church_organisation,
                class: "govuk-checkboxes__input",
                checked: OrganisationsOrgType.find_by(
                  organisation_id: @funding_application.organisation.id,
                  org_type_id: @org_type_church_organisation.id
                ) ? true : false
              },
              @org_type_church_organisation.id,
              nil
          %>

          <%=
            org_type.label :church_organisation,
            t("form.organisation_details.church_organistaion"),
            for: :church_organisation,
            class: "govuk-label govuk-checkboxes__label"
          %>

        </div>

      <% end %>

      <% 
        associate_community_group_row = 
          @funding_application.organisation.organisations_org_types.find_by(
            org_type_id: @org_type_community_group.id
          )
      %>

      <%= 
        o.fields_for :organisations_org_types, 
        (associate_community_group_row.present? ? 
          associate_community_group_row : 
          @funding_application.organisation.organisations_org_types.select { |ot| ot.org_type_id == @org_type_community_group.id }) do | org_type |
      %>

        <div class="govuk-checkboxes__item">

          <%=
            org_type.check_box :org_type_id,
              {
                multiple: false,
                id: :community_group,
                class: "govuk-checkboxes__input",
                checked: OrganisationsOrgType.find_by(
                  organisation_id: @funding_application.organisation.id,
                  org_type_id: @org_type_community_group.id
                ) ? true : false
              },
              @org_type_community_group.id,
              nil
          %>

          <%=
            org_type.label :community_group,
            t("form.organisation_details.community_group"),
            for: :community_group,
            class: "govuk-label govuk-checkboxes__label"
          %>

        </div>

      <% end %>

      <% 
        associate_voluntary_group_row = 
          @funding_application.organisation.organisations_org_types.find_by(
            org_type_id: @org_type_voluntary_group.id
          )
      %>

      <%= 
        o.fields_for :organisations_org_types, 
        (associate_voluntary_group_row.present? ? 
          associate_voluntary_group_row : 
          @funding_application.organisation.organisations_org_types.select { |ot| ot.org_type_id == @org_type_voluntary_group.id }) do | org_type |
      %>

        <div class="govuk-checkboxes__item">

          <%=
            org_type.check_box :org_type_id,
              {
                multiple: false,
                id: :voluntary_group,
                class: "govuk-checkboxes__input",
                checked: OrganisationsOrgType.find_by(
                  organisation_id: @funding_application.organisation.id,
                  org_type_id: @org_type_voluntary_group.id
                ) ? true : false
              },
              @org_type_voluntary_group.id,
              nil
          %>

          <%=
            org_type.label :voluntary_group,
            t("form.organisation_details.voluntary_group"),
            for: :voluntary_group,
            class: "govuk-label govuk-checkboxes__label"
          %>

        </div>

      <% end %>

      <% 
        associate_individual_private_owner_of_heritage_row = 
          @funding_application.organisation.organisations_org_types.find_by(
            org_type_id: @org_type_individual_private_owner_of_heritage.id
          )
      %>

      <%= 
        o.fields_for :organisations_org_types, 
        (associate_individual_private_owner_of_heritage_row.present? ? 
          associate_individual_private_owner_of_heritage_row : 
          @funding_application.organisation.organisations_org_types.select { |ot| ot.org_type_id == @org_type_individual_private_owner_of_heritage.id }) do | org_type |
      %>

        <div class="govuk-checkboxes__item">

          <%=
            org_type.check_box :org_type_id,
              {
                multiple: false,
                id: :individual_private_owner_of_heritage,
                class: "govuk-checkboxes__input",
                checked: OrganisationsOrgType.find_by(
                  organisation_id: @funding_application.organisation.id,
                  org_type_id: @org_type_individual_private_owner_of_heritage.id
                ) ? true : false
              },
              @org_type_individual_private_owner_of_heritage.id,
              nil
          %>

          <%=
            org_type.label :individual_private_owner_of_heritage,
            "Individual private owner of heritage",
            for: :individual_private_owner_of_heritage,
            class: "govuk-label govuk-checkboxes__label"
          %>

        </div>

      <% end %>

      <div class="govuk-checkboxes__item">

        <%=
          o.check_box :has_custom_org_type,
            {
              multiple: false,
              id: :other,
              class: "govuk-checkboxes__input",
              checked: @funding_application.organisation.custom_org_type.present? || @funding_application.organisation.errors[:custom_org_type].any?,
              "data-aria-controls" => "conditional-org_types_other"
            },
            true,
            nil
        %>

        <%=
          o.label :has_custom_org_type,
          t("form.organisation_details.other"),
          for: :other,
          class: "govuk-label govuk-checkboxes__label"
        %>

      </div>

      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-org_types_other">

        <div class="govuk-form-group">

          <h3 class="govuk-label-wrapper">
            <%= o.label t("form.organisation_details.other_hint"), class: 'govuk-label govuk-label--s' %>
          </h3>

          <%=
            o.text_field :custom_org_type,
                          class: "govuk-input #{'govuk-input--error' if @funding_application.organisation.errors[:custom_org_type].any?}",
                          "aria-describedby" => "custom_org_type-hint"
          %>

        </div>

      </div>

    </div>   

    </fieldset>

    </div>

  <% end %>

<%= form_object.fields_for :gp_hef_loan, @funding_application.gp_hef_loan ? @funding_application.gp_hef_loan : @funding_application.build_gp_hef_loan do | loan | %>

  <div class="govuk-form-group <%= 'govuk-form-group--error' if @funding_application.gp_hef_loan.errors[:previous_project_reference].any? %>">

    <h3 class="govuk-label-wrapper">
      <%# Presence of 'nil' in loan.label below stops .humanize being called on the text value to be displayed %>
      <%= loan.label nil, t("form.organisation_details.project_reference_number"), class: 'govuk-label govuk-label--m' %>
    </h3>

    <span id="previous_project_reference-hint" class="govuk-hint">
      <%= t("form.organisation_details.project_reference_number_hint") %>
    </span>

    <%=
      render partial: "partials/form_input_errors",
            locals: {
                form_object: @funding_application.gp_hef_loan,
                input_field_id: :previous_project_reference
            } if @funding_application.gp_hef_loan.errors[:previous_project_reference].any?
    %>

    <%=
      loan.text_field :previous_project_reference,
                      class: "govuk-input #{'govuk-input--error' if 
                        @funding_application.gp_hef_loan.errors[:previous_project_reference].any? }",
                      "aria-describedby" => "previous_project_reference-hint"
    %>

  <% end %>

  </div>
