<h2 class="govuk-heading-l">Your organisation's finances</h2>

<p class="govuk-body">
  The questions in this section help us check there is a legal and financial basis for loan funding.
  Your organisation's financial statements and governing documents will help you answer questions in
  this section. The answers you give here should match the information shown in the financial
  statements you provide to support your application.
</p>

<p class="govuk-body">
  Governing documents can also be called a constitution, memorandum of association or articles of
  association.
</p>

<p class="govuk-body">
  If you are not sure how to answer the questions in this section, you can <a href="#">check
  the guidance</a>.
</p>

<%= form_object.fields_for :gp_hef_loan, @funding_application.gp_hef_loan ? @funding_application.gp_hef_loan : @funding_application.build_gp_hef_loan do | loan | %>

  <div class="govuk-form-group <%= 'govuk-form-group--error' if @funding_application.gp_hef_loan.errors[:can_legally_take_on_debt].any? %>">
      
    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
      
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        
        <h3 class="govuk-fieldset__heading">
          <%= I18n.t("hef_loan_form.questions.can_legally_take_on_debt") %>
        </h3>

      </legend>

      <%=
        render partial: "partials/form_input_errors",
              locals: {
                  form_object: @funding_application.gp_hef_loan,
                  input_field_id: :can_legally_take_on_debt
              } if @funding_application.gp_hef_loan.errors[:can_legally_take_on_debt].any?
      %>

      <div class="govuk-radios govuk-radios--inline">
    
        <div class="govuk-radios__item">

          <%=
            loan.radio_button :can_legally_take_on_debt,
                            "true",
                            class: "govuk-radios__input"
          %>

          <%=
            loan.label :can_legally_take_on_debt_true,
                    "Yes",
                    class: "govuk-label govuk-radios__label"
          %>
    
        </div>

        <div class="govuk-radios__item">
      
          <%=
            loan.radio_button :can_legally_take_on_debt,
                            "false",
                            class: "govuk-radios__input"
          %>

          <%=
            loan.label :can_legally_take_on_debt_false,
                    "No",
                    class: "govuk-label govuk-radios__label"
          %>
  
        </div>

      </div>

    </fieldset>
  
  </div>

  <div class="govuk-form-group <%= 'govuk-form-group--error' if @funding_application.gp_hef_loan.errors[:any_debt_restrictions].any? %>">
      
    <fieldset class="govuk-fieldset" aria-describedby="<%= :any_debt_restrictions %>-hint">
          
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h3 class="govuk-fieldset__heading">
          <%= I18n.t("hef_loan_form.questions.any_debt_restrictions") %>
        </h3>
      </legend>

      <%=
        render partial: "partials/form_input_errors",
              locals: {
                  form_object: @funding_application.gp_hef_loan,
                  input_field_id: :any_debt_restrictions
              } if @funding_application.gp_hef_loan.errors[:any_debt_restrictions].any?
      %>

      <span id="<%= :any_debt_restrictions %>-hint" class="govuk-hint">
        <%= I18n.t("hef_loan_form.questions.any_debt_restrictions_hint") %>
      </span>
    
      <div class="govuk-radios govuk-radios--inline">
        
        <div class="govuk-radios__item">

          <%=
              loan.radio_button :any_debt_restrictions,
              "true",
              class: "govuk-radios__input"
          %>

          <%=
              loan.label :any_debt_restrictions_true,
              "Yes",
              class: "govuk-label govuk-radios__label"
          %>
        
        </div>

        <div class="govuk-radios__item">
          
          <%=
              loan.radio_button :any_debt_restrictions,
              "false",
              class: "govuk-radios__input"
          %>

          <%=
              loan.label :any_debt_restrictions_false,
              "No",
              class: "govuk-label govuk-radios__label"
          %>
      
        </div>
    
      </div>
    
    </fieldset>
  
</div>

<div class="govuk-form-group <%= 'govuk-form-group--error' if 
  @funding_application.gp_hef_loan.errors[:debt_description].any? %>">

  <%=
    loan.label :debt_description,
            I18n.t("hef_loan_form.questions.debt_description"),
            class: "govuk-label govuk-label--m"
  %>

  <%=
    render partial: "partials/form_input_errors",
          locals: {
              form_object: @funding_application.gp_hef_loan,
              input_field_id: :debt_description
          } if @funding_application.gp_hef_loan.errors[:debt_description].any?
  %>

  <%=
    loan.text_area :debt_description,
                rows: 10,
                class: "govuk-textarea #{'govuk-textarea--error' if 
                  @funding_application.gp_hef_loan.errors[:debt_description].any?}"
  %>

</div>

<div class="govuk-form-group <%= 'govuk-form-group--error' if 
  @funding_application.gp_hef_loan.errors[:can_provide_security].any? %>">
      
  <fieldset class="govuk-fieldset" aria-describedby="<%= :can_provide_security %>-hint">
          
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        
      <h3 class="govuk-fieldset__heading">
        <%= I18n.t("hef_loan_form.questions.can_provide_security") %>
      </h3>

    </legend>

    <%=
      render partial: "partials/form_input_errors",
            locals: {
                form_object: @funding_application.gp_hef_loan,
                input_field_id: :can_provide_security
            } if @funding_application.gp_hef_loan.errors[:can_provide_security].any?
    %>
    
    <div class="govuk-radios govuk-radios--inline">
        
      <div class="govuk-radios__item">

        <%=
            loan.radio_button :can_provide_security,
            "true",
            class: "govuk-radios__input"
        %>

        <%=
            loan.label :can_provide_security_true,
            "Yes",
            class: "govuk-label govuk-radios__label"
        %>
        
      </div>

      <div class="govuk-radios__item">
          
        <%=
            loan.radio_button :can_provide_security,
            "false",
            class: "govuk-radios__input"
        %>

        <%=
            loan.label :can_provide_security_false,
            "No",
            class: "govuk-label govuk-radios__label"
        %>
      
      </div>
    
    </div>
    
  </fieldset>
  
</div>

<div class="govuk-form-group <%= 'govuk-form-group--error' if 
  @funding_application.gp_hef_loan.errors[:security_restrictions].any? %>">
      
  <fieldset class="govuk-fieldset" aria-describedby="<%= :security_restrictions %>-hint">
          
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        
        <h3 class="govuk-fieldset__heading">
          <%= I18n.t("hef_loan_form.questions.security_restrictions") %>
        </h3>

    </legend>

    <%=
      render partial: "partials/form_input_errors",
            locals: {
                form_object: @funding_application.gp_hef_loan,
                input_field_id: :security_restrictions
            } if @funding_application.gp_hef_loan.errors[:security_restrictions].any?
    %>
    
    <div class="govuk-radios govuk-radios--inline">
    
      <div class="govuk-radios__item">

        <%=
            loan.radio_button :security_restrictions,
            "true",
            class: "govuk-radios__input"
        %>

        <%=
            loan.label :security_restrictions_true,
            "Yes",
            class: "govuk-label govuk-radios__label"
        %>
    
      </div>

      <div class="govuk-radios__item">
          
        <%=
            loan.radio_button :security_restrictions,
            "false",
            class: "govuk-radios__input"
        %>

        <%=
            loan.label :security_restrictions_false,
            "No",
            class: "govuk-label govuk-radios__label"
        %>
      
      </div>
    
    </div>
    
  </fieldset>
  
</div>

<div class="govuk-form-group <%= 'govuk-form-group--error' if 
  @funding_application.gp_hef_loan.errors[:security_description].any? %>">

  <%=
    loan.label :security_description,
            I18n.t("hef_loan_form.questions.security_description"),
            class: "govuk-label govuk-label--m"
  %>

  <%=
    render partial: "partials/form_input_errors",
          locals: {
              form_object: @funding_application.gp_hef_loan,
              input_field_id: :security_description
          } if @funding_application.gp_hef_loan.errors[:security_description].any?
  %>

  <%=
    loan.text_area :security_description,
                rows: 10,
                class: "govuk-textarea #{'govuk-textarea--error' if 
                  @funding_application.gp_hef_loan.errors[:security_description].any?}"
  %>

</div>

<div class="govuk-form-group <%= 'govuk-form-group--error' if 
  @funding_application.gp_hef_loan.errors[:has_had_an_average_yearly_cash_surplus].any? %>">
      
  <fieldset class="govuk-fieldset" aria-describedby="has_had_an_average_yearly_cash_surplus-hint">
          
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            
      <h3 class="govuk-fieldset__heading">
        <%= I18n.t("hef_loan_form.questions.has_had_an_average_yearly_cash_surplus") %>
      </h3>

    </legend>

    <span id="has_had_an_average_yearly_cash_surplus-hint" class="govuk-hint">
      <%= I18n.t("hef_loan_form.questions.has_had_an_average_yearly_cash_surplus_hint") %>
    </span>

    <%=
      render partial: "partials/form_input_errors",
            locals: {
                form_object: @funding_application.gp_hef_loan,
                input_field_id: :has_had_an_average_yearly_cash_surplus
            } if @funding_application.gp_hef_loan.errors[:has_had_an_average_yearly_cash_surplus].any?
    %>
    
    <div class="govuk-radios govuk-radios--inline">
        
      <div class="govuk-radios__item">

        <%=
            loan.radio_button :has_had_an_average_yearly_cash_surplus,
            "true",
            class: "govuk-radios__input"
        %>

        <%=
            loan.label :has_had_an_average_yearly_cash_surplus_true,
            "Yes",
            class: "govuk-label govuk-radios__label"
        %>
        
      </div>

      <div class="govuk-radios__item">
          
        <%=
            loan.radio_button :has_had_an_average_yearly_cash_surplus,
            "false",
            class: "govuk-radios__input"
        %>

        <%=
            loan.label :has_had_an_average_yearly_cash_surplus_false,
            "No",
            class: "govuk-label govuk-radios__label"
        %>
      
      </div>
    
    </div>
    
  </fieldset>
  
</div>

<div class="govuk-form-group <%= 'govuk-form-group--error' if 
  @funding_application.gp_hef_loan.errors[:average_yearly_cash_surplus].any? %>">

  <h3 class="govuk-label-wrapper">
    <%= 
      loan.label I18n.t("hef_loan_form.questions.average_yearly_cash_surplus"), 
      class: 'govuk-label govuk-label--m' 
    %>
  </h3>

  <%=
    render partial: "partials/form_input_errors",
          locals: {
              form_object: @funding_application.gp_hef_loan,
              input_field_id: :average_yearly_cash_surplus
          } if @funding_application.gp_hef_loan.errors[:average_yearly_cash_surplus].any?
  %>

  <div class="nlhf-currency-denote">
    <div class="nlhf-currency-denote__symbol">
      &pound;
    </div>
    <div class="nlhf-currency-denote__capture">
    <%=
      loan.text_field :average_yearly_cash_surplus,
                    class: "govuk-input govuk-!-width-one-half #{'govuk-input--error' if 
                      @funding_application.gp_hef_loan.errors[:average_yearly_cash_surplus].any?}"
    %>
    </div>
  </div>

</div>

<div class="govuk-form-group <%= 'govuk-form-group--error' if 
  @funding_application.gp_hef_loan.errors[:has_had_a_surplus_in_last_reporting_year].any? %>">
      
  <fieldset class="govuk-fieldset">
          
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            
      <h3 class="govuk-fieldset__heading">
        <%= I18n.t("hef_loan_form.questions.has_had_a_surplus_in_last_reporting_year") %>
      </h3>

    </legend>

    <%=
      render partial: "partials/form_input_errors",
            locals: {
                form_object: @funding_application.gp_hef_loan,
                input_field_id: :has_had_a_surplus_in_last_reporting_year
            } if @funding_application.gp_hef_loan.errors[:has_had_a_surplus_in_last_reporting_year].any?
    %>

    <div class="govuk-radios govuk-radios--inline">
        
      <div class="govuk-radios__item">

        <%=
            loan.radio_button :has_had_a_surplus_in_last_reporting_year,
            "true",
            class: "govuk-radios__input"
        %>

        <%=
            loan.label :has_had_a_surplus_in_last_reporting_year_true,
            "Yes",
            class: "govuk-label govuk-radios__label"
        %>
        
      </div>

      <div class="govuk-radios__item">
    
        <%=
            loan.radio_button :has_had_a_surplus_in_last_reporting_year,
            "false",
            class: "govuk-radios__input"
        %>

        <%=
            loan.label :has_had_a_surplus_in_last_reporting_year_false,
            "No",
            class: "govuk-label govuk-radios__label"
        %>

      </div>
    
    </div>
    
  </fieldset>
  
</div>

<div class="govuk-form-group <%= 'govuk-form-group--error' if @funding_application.gp_hef_loan.errors[:cash_surplus_in_last_year].any? %>">

  <h3 class="govuk-label-wrapper">
    <%= 
      loan.label I18n.t("hef_loan_form.questions.cash_surplus_in_last_year"), 
      class: 'govuk-label govuk-label--m' 
    %>
  </h3>

  <%=
    render partial: "partials/form_input_errors",
          locals: {
              form_object: @funding_application.gp_hef_loan,
              input_field_id: :cash_surplus_in_last_year
          } if @funding_application.gp_hef_loan.errors[:cash_surplus_in_last_year].any?
  %>

  <div class="nlhf-currency-denote">
    <div class="nlhf-currency-denote__symbol">
      &pound;
    </div>
    <div class="nlhf-currency-denote__capture">

    <%=
      loan.text_field :cash_surplus_in_last_year,
                    class: "govuk-input govuk-!-width-one-half #{'govuk-input--error' if 
                      @funding_application.gp_hef_loan.errors[:cash_surplus_in_last_year].any?}"
    %>

    </div>
  </div>

</div>

<div class="govuk-form-group <%= 'govuk-form-group--error' if 
  @funding_application.gp_hef_loan.errors[:org_income_types].any? || 
    @funding_application.gp_hef_loan.errors[:custom_org_income_type].any? %>">

  <fieldset class="govuk-fieldset" aria-describedby="org_income_types-hint">

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        <%= I18n.t("hef_loan_form.questions.org_income_type") %>
      </h1>
    </legend>
    
    <span id="org_income_types-hint" class="govuk-hint">
      <%= I18n.t("hef_loan_form.questions.org_income_type_hint") %>
    </span>

    <%=
      render partial: "partials/form_input_errors",
            locals: {
                form_object: @funding_application.gp_hef_loan,
                input_field_id: :custom_org_income_type
            } if @funding_application.gp_hef_loan.errors[:custom_org_income_type].any?
    %>

    <div class="govuk-checkboxes" data-module="govuk-checkboxes">

      <% 
        associate_government_contract_row = 
          @funding_application.gp_hef_loan.gp_hef_loans_org_income_types.find_by(
            org_income_type_id: @org_income_type_government_contract.id
          )
      %>

      <%= 
        loan.fields_for :gp_hef_loans_org_income_types, 
        (associate_government_contract_row.present? ? 
          associate_government_contract_row : 
            @funding_application.gp_hef_loan.gp_hef_loans_org_income_types.select { 
              |oit| oit.org_income_type_id == @org_income_type_government_contract.id 
            }
        ) do | org_income_type | 
      %>

        <div class="govuk-checkboxes__item">

          <%=
            org_income_type.check_box :org_income_type_id,
              {
                multiple: false,
                id: :government_contract,
                class: "govuk-checkboxes__input",
                checked: GpHefLoansOrgIncomeType.find_by(
                  gp_hef_loan_id: @funding_application.gp_hef_loan.id,
                  org_income_type_id: OrgIncomeType.find_by(name: "Government contract").id
                ) ? true : false
              },
              @org_income_type_government_contract.id,
              nil
          %>

          <%=
            org_income_type.label :government_contract,
            "Government contract",
            for: :government_contract,
            class: "govuk-label govuk-checkboxes__label"
          %>

        </div>

      <% end %>

      <%
        associate_rental_income_row = 
          @funding_application.gp_hef_loan.gp_hef_loans_org_income_types.find_by(
            org_income_type_id: @org_income_type_rental_income.id
          )
      %>

      <%= 
        loan.fields_for :gp_hef_loans_org_income_types, 
        (associate_rental_income_row.present? ? 
          associate_rental_income_row : 
            @funding_application.gp_hef_loan.gp_hef_loans_org_income_types.select { 
              |oit| oit.org_income_type_id == @org_income_type_rental_income.id 
            }
        ) do | org_income_type | 
      %>

        <div class="govuk-checkboxes__item">

          <%=
            org_income_type.check_box :org_income_type_id,
              {
                multiple: false,
                id: :rental_income,
                class: "govuk-checkboxes__input",
                checked: GpHefLoansOrgIncomeType.find_by(
                  gp_hef_loan_id: @funding_application.gp_hef_loan.id,
                  org_income_type_id: OrgIncomeType.find_by(name: "Rental Income").id
                ) ? true : false
              },
              @org_income_type_rental_income.id,
              nil
          %>

          <%=
            org_income_type.label :rental_income,
            "Rental Income",
            for: :rental_income,
            class: "govuk-label govuk-checkboxes__label"
          %>

        </div>

      <% end %>

      <% 
        associate_membership_fees_row = 
          @funding_application.gp_hef_loan.gp_hef_loans_org_income_types.find_by(
            org_income_type_id: @org_income_type_membership_fees.id
          )
      %>

      <%= 
        loan.fields_for :gp_hef_loans_org_income_types, 
        (associate_membership_fees_row.present? ? 
          associate_membership_fees_row : 
            @funding_application.gp_hef_loan.gp_hef_loans_org_income_types.select { 
              |oit| oit.org_income_type_id == @org_income_type_membership_fees.id 
            }
        ) do | org_income_type | 
      %>

        <div class="govuk-checkboxes__item">

          <%=
            org_income_type.check_box :org_income_type_id,
              {
                multiple: false,
                id: :membership_fees,
                class: "govuk-checkboxes__input",
                checked: GpHefLoansOrgIncomeType.find_by(
                  gp_hef_loan_id: @funding_application.gp_hef_loan.id,
                  org_income_type_id: OrgIncomeType.find_by(name: "Membership fees").id
                ) ? true : false
              },
              @org_income_type_membership_fees.id,
              nil
          %>

          <%=
            org_income_type.label :membership_fees,
            "Membership fees",
            for: :membership_fees,
            class: "govuk-label govuk-checkboxes__label"
          %>

        </div>

      <% end %>

      <% 
        associate_grants_row = 
          @funding_application.gp_hef_loan.gp_hef_loans_org_income_types.find_by(
            org_income_type_id: @org_income_type_grants.id
          )
      %>

      <%= 
        loan.fields_for :gp_hef_loans_org_income_types, 
        (associate_grants_row.present? ? 
          associate_grants_row : 
            @funding_application.gp_hef_loan.gp_hef_loans_org_income_types.select { 
              |oit| oit.org_income_type_id == @org_income_type_grants.id 
            }
        ) do | org_income_type | 
      %>

        <div class="govuk-checkboxes__item">

          <%=
            org_income_type.check_box :org_income_type_id,
              {
                multiple: false,
                id: :grants,
                class: "govuk-checkboxes__input",
                checked: GpHefLoansOrgIncomeType.find_by(
                  gp_hef_loan_id: @funding_application.gp_hef_loan.id,
                  org_income_type_id: OrgIncomeType.find_by(name: "Grants").id
                ) ? true : false
              },
              @org_income_type_grants.id,
              nil
          %>

          <%=
            org_income_type.label :grants,
            "Grants",
            for: :grants,
            class: "govuk-label govuk-checkboxes__label"
          %>

        </div>

      <% end %>

      <% 
        associate_donations_row = 
          @funding_application.gp_hef_loan.gp_hef_loans_org_income_types.find_by(
            org_income_type_id: @org_income_type_donations.id
          )
      %>

      <%= 
        loan.fields_for :gp_hef_loans_org_income_types, 
        (associate_donations_row.present? ? 
          associate_donations_row : 
            @funding_application.gp_hef_loan.gp_hef_loans_org_income_types.select { 
              |oit| oit.org_income_type_id == @org_income_type_donations.id 
            }
        ) do | org_income_type | 
      %>

        <div class="govuk-checkboxes__item">

          <%=
            org_income_type.check_box :org_income_type_id,
              {
                multiple: false,
                id: :donations,
                class: "govuk-checkboxes__input",
                checked: GpHefLoansOrgIncomeType.find_by(
                  gp_hef_loan_id: @funding_application.gp_hef_loan.id,
                  org_income_type_id: OrgIncomeType.find_by(name: "Donations").id
                ) ? true : false
              },
              @org_income_type_donations.id,
              nil
          %>

          <%=
            org_income_type.label :donations,
            "Donations",
            for: :donations,
            class: "govuk-label govuk-checkboxes__label"
          %>

        </div>

      <% end %>

      <% 
        associate_trading_row = 
          @funding_application.gp_hef_loan.gp_hef_loans_org_income_types.find_by(
            org_income_type_id: @org_income_type_trading.id
          )
      %>

      <%= 
        loan.fields_for :gp_hef_loans_org_income_types, 
        (associate_trading_row.present? ? 
          associate_trading_row : 
          @funding_application.gp_hef_loan.gp_hef_loans_org_income_types.select { |oit| oit.org_income_type_id == @org_income_type_trading.id }) do | org_income_type | 
      %>

        <div class="govuk-checkboxes__item">

          <%=
            org_income_type.check_box :org_income_type_id,
              {
                multiple: false,
                id: :trading,
                class: "govuk-checkboxes__input",
                checked: GpHefLoansOrgIncomeType.find_by(
                  gp_hef_loan_id: @funding_application.gp_hef_loan.id,
                  org_income_type_id: OrgIncomeType.find_by(name: "Trading").id
                ) ? true : false
              },
              @org_income_type_trading.id,
              nil
          %>

          <%=
            org_income_type.label :trading,
            "Trading",
            for: :trading,
            class: "govuk-label govuk-checkboxes__label"
          %>

        </div>

      <% end %>

      <div class="govuk-checkboxes__item">

        <%=
          loan.check_box :has_custom_org_income_type,
            {
              multiple: false,
              id: :other,
              class: "govuk-checkboxes__input",
              checked: @funding_application.gp_hef_loan.custom_org_income_type.present? || 
                @funding_application.gp_hef_loan.errors[:custom_org_income_type].any?,
              "data-aria-controls" => "conditional-org_income_types_other"
            },
            true,
            nil
        %>

        <%=
          loan.label :has_custom_org_income_type,
          "Other",
          for: :other,
          class: "govuk-label govuk-checkboxes__label"
        %>

      </div>

      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-org_income_types_other">

        <div class="govuk-form-group">

          <h3 class="govuk-label-wrapper">
            <%= loan.label I18n.t("hef_loan_form.questions.custom_org_income_type"), class: 'govuk-label govuk-label--s' %>
          </h3>

          <%=
            loan.text_field :custom_org_income_type,
                          class: "govuk-input #{'govuk-input--error' if @funding_application.gp_hef_loan.errors[:custom_org_income_type].any?}",
                          "aria-describedby" => "custom_org_income_type-hint"
          %>

        </div>

      </div>

    </div>

  </fieldset>

</div>

<div class="govuk-form-group <%= 'govuk-form-group--error' if 
  @funding_application.gp_hef_loan.errors[:bankruptcy_or_administration].any? %>">
      
  <fieldset class="govuk-fieldset">
          
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            
      <h3 class="govuk-fieldset__heading">
        <%= I18n.t("hef_loan_form.questions.bankruptcy_or_administration") %>
      </h3>

    </legend>

    <%=
      render partial: "partials/form_input_errors",
            locals: {
                form_object: @funding_application.gp_hef_loan,
                input_field_id: :bankruptcy_or_administration
            } if @funding_application.gp_hef_loan.errors[:bankruptcy_or_administration].any?
    %>

    <div class="govuk-radios govuk-radios--inline">
        
      <div class="govuk-radios__item">

          <%=
              loan.radio_button :bankruptcy_or_administration,
              "true",
              class: "govuk-radios__input"
          %>

          <%=
              loan.label :bankruptcy_or_administration_true,
              I18n.t("hef_loan_form.answers.a_yes"),
              class: "govuk-label govuk-radios__label"
          %>
  
      </div>

      <div class="govuk-radios__item">
    
          <%=
              loan.radio_button :bankruptcy_or_administration,
              "false",
              class: "govuk-radios__input"
          %>

          <%=
              loan.label :bankruptcy_or_administration_false,
              I18n.t("hef_loan_form.answers.a_no"),
              class: "govuk-label govuk-radios__label"
          %>

      </div>
    
    </div>
    
  </fieldset>
  
</div>

  <div class="govuk-form-group <%= 'govuk-form-group--error' if 
    @funding_application.gp_hef_loan.errors[:bankruptcy_or_administration_description].any? %>">

    <%=
      loan.label :bankruptcy_or_administration_description,
              "Tell us in detail about any impending bankruptcy or administration against your organisation.",
              class: "govuk-label govuk-label--m"
    %>

    <%=
      render partial: "partials/form_input_errors",
            locals: {
                form_object: @funding_application.gp_hef_loan,
                input_field_id: :bankruptcy_or_administration_description
            } if @funding_application.gp_hef_loan.errors[:bankruptcy_or_administration_description].any?
    %>

    <%=
      loan.text_area :bankruptcy_or_administration_description,
                  rows: 10,
                  class: "govuk-textarea #{'govuk-textarea--error' if 
                    @funding_application.gp_hef_loan.errors[:bankruptcy_or_administration_description].any?}"
    %>

  </div>

<div class="govuk-form-group <%= 'govuk-form-group--error' if 
  @funding_application.gp_hef_loan.errors[:considers_state_aid].any? %>">
      
  <fieldset class="govuk-fieldset">
          
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            
      <h3 class="govuk-fieldset__heading">
        <%= I18n.t("hef_loan_form.questions.considers_state_aid") %>
      </h3>

    </legend>

    <%=
      render partial: "partials/form_input_errors",
            locals: {
                form_object: @funding_application.gp_hef_loan,
                input_field_id: :considers_state_aid
            } if @funding_application.gp_hef_loan.errors[:considers_state_aid].any?
    %>
    
    <div class="govuk-radios govuk-radios--inline">
        
      <div class="govuk-radios__item">

        <%=
            loan.radio_button :considers_state_aid,
            "true",
            class: "govuk-radios__input"
        %>

        <%=
            loan.label :considers_state_aid_true,
            I18n.t("hef_loan_form.answers.a_yes"),
            class: "govuk-label govuk-radios__label"
        %>
  
      </div>

      <div class="govuk-radios__item">
    
        <%=
            loan.radio_button :considers_state_aid,
            "false",
            class: "govuk-radios__input"
        %>

        <%=
            loan.label :considers_state_aid_false,
            I18n.t("hef_loan_form.answers.a_no"),
            class: "govuk-label govuk-radios__label"
        %>

      </div>
    
    </div>
    
  </fieldset>
  
</div>

<% end %>