<h2 class="govuk-heading-l"><%= t("form.organisation_and_other_funding.heading")%></h2>

<%= 
  form_object.fields_for :gp_hef_loan,
  @funding_application.gp_hef_loan ? 
    @funding_application.gp_hef_loan : 
      @funding_application.build_gp_hef_loan do | loan | 
%>

  <div class="govuk-form-group <%= 'govuk-form-group--error' if 
    @funding_application.gp_hef_loan.errors[:has_applied_for_grant_or_loan].any? %>">
        
    <fieldset class="govuk-fieldset">
            
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              
        <h3 class="govuk-fieldset__heading">
          <%= t("form.organisation_and_other_funding.support") %>
        </h3>

      </legend>

    <span id="other_funding_details-hint" class="govuk-hint">
      <%= t("form.organisation_and_other_funding.support_hint") %>
    </span>

      <%=
        render partial: "partials/form_input_errors",
              locals: {
                  form_object: @funding_application.gp_hef_loan,
                  input_field_id: :has_applied_for_grant_or_loan
              } if @funding_application.gp_hef_loan.errors[:has_applied_for_grant_or_loan].any?
      %>
      
      <div class="govuk-radios govuk-radios--inline">
          
        <div class="govuk-radios__item">

          <%=
              loan.radio_button :has_applied_for_grant_or_loan,
              "true",
              class: "govuk-radios__input"
          %>

          <%=
              loan.label :has_applied_for_grant_or_loan_true,
              t("generic.x_yes"),
              class: "govuk-label govuk-radios__label"
          %>
    
        </div>

        <div class="govuk-radios__item">
      
          <%=
              loan.radio_button :has_applied_for_grant_or_loan,
              "false",
              class: "govuk-radios__input"
          %>

          <%=
              loan.label :has_applied_for_grant_or_loan_false,
              t("generic.x_no"),
              class: "govuk-label govuk-radios__label"
          %>

        </div>
      
      </div>
      
    </fieldset>
    
  </div>

  <div class="govuk-form-group <%= 'govuk-form-group--error' if 
    @funding_application.gp_hef_loan.errors[:other_funding_details].any? %>">

    <%=
      loan.label :other_funding_details,
              t("form.organisation_and_other_funding.outcomes"),
              class: "govuk-label govuk-label--m"
    %>

    <%=
      render partial: "partials/form_input_errors",
            locals: {
                form_object: @funding_application.gp_hef_loan,
                input_field_id: :other_funding_details
            } if @funding_application.gp_hef_loan.errors[:other_funding_details].any?
    %>

    <span id="other_funding_details-hint" class="govuk-hint">
      <%= t("form.organisation_and_other_funding.outcomes_hint") %>
    </span>

    <%=
      loan.text_area :other_funding_details,
                  rows: 10,
                  class: "govuk-textarea #{'govuk-textarea--error' if 
                    @funding_application.gp_hef_loan.errors[:other_funding_details].any?}",
                    "aria-describedby" => "other_funding_details-hint "
    %>

  </div>

<% end %>
