<h2 class="govuk-heading-l">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="govuk-form-group">
    <%= f.label :email, "Enter your email address", class: "govuk-label" %>
    <span id="email-hint" class="govuk-hint">
      The email address associated with your account.
    </span>
    <%= f.text_field :email, autofocus: true, autocomplete: "email", class: "govuk-input govuk-input--width-20" %>
  </div>

  <div class="govuk-form-group">
    <%= f.submit "Reset my password", class: "govuk-button"  %>
  </div>

<% end %>


