<%= console %>
<h1>organisation details</h1>

<%= form_with model: @organisation, local: true do |o| %>
  <%= label_tag(:name, "Organisation name") %>
  <%= text_field(:organisation, :name) %>
  <%= label_tag(:name, "Address Line 1") %>
  <%= text_field(:organisation, :line1) %>
  <%= o.submit "Create" %>
<% end %>


