<% content_for :page_title, @legal_signatories.any? { |legal_signatory| legal_signatory.errors.present?} ? "Error: Who is your legal signatory?" : "Who is your legal signatory?" %>

<% if @legal_signatories.any? { |legal_signatory| legal_signatory.errors.present? } %>

  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">

    <h2 class="govuk-error-summary__title" id="error-summary-title">
      There is a problem
    </h2>

    <div class="govuk-error-summary__body">

      <ul class="govuk-list govuk-error-summary__list">

        <% @legal_signatories.each do |signatory| %>
          <% signatory.errors.each do |attr, msg| %>
            <li>
              <a data-turbolinks="false" href=<%="#legal_signatories_#{signatory.id}_#{attr}" %>><%= msg %></a>
            </li>
          <% end %>
        <% end %>

      </ul>

    </div>

  </div>

<% end %>

<h1 class="govuk-heading-xl govuk-!-margin-bottom-5" aria-label="Heading">Who is your legal signatory?</h1>

<p class="govuk-body" id="legal-signatory-1-fieldset-hint">
  A signatory is a person who is authorised to sign legal documents on behalf
  of your organisation. Please tell us the names of 2 legal, or authorised,
  signatories for your organisation.</p>

<p class="govuk-body govuk-!-margin-bottom-7">
  We expect an organisation to have 2 legal signatories. However, we can
  accept 1 signatory in some limited cases, <a href="https://www.heritagefund.org.uk/about/contact-us" target="_blank">contact us</a> to discuss your application.
</p>

<%= form_tag(organisation_signatories_path, {method: :put}) do %>

  <% @legal_signatories.each_with_index do |signatory, i| %>

    <fieldset class="govuk-fieldset govuk-!-margin-bottom-6" id=<%= "legal-signatory-#{i+1}-fieldset" %>>

    <%= fields_for "legal_signatories[]", signatory do |signatory_field| %>

      <h2 class="govuk-heading-m" aria-label="Heading">Legal signatory <%= i+1 %></h2>

      <div class="govuk-form-group">
        <%= signatory_field.label :name, "Full name", class: "govuk-label" %>
        <%= render partial: "partials/form_input_errors",
                   locals: {form_object: signatory,
                            input_field_id: :name} if signatory.errors[:name].any? %>
        <%= signatory_field.text_field :name, class: "govuk-input govuk-input--width-20 #{'govuk-input--error' if signatory.errors[:name].any?}" %>
      </div>

      <div class="govuk-form-group">
        <%= signatory_field.label :email_address, "Email address", class: "govuk-label" %>
        <%= render partial: "partials/form_input_errors",
                   locals: {form_object: signatory,
                            input_field_id: :email_address} if signatory.errors[:email_address].any? %>
        <%= signatory_field.text_field :email_address, class: "govuk-input govuk-input--width-20 #{'govuk-input--error' if signatory.errors[:email_address].any?}" %>
      </div>

      <div class="govuk-form-group">
        <%= signatory_field.label :phone_number, "Phone number", class: "govuk-label" %>
        <%= render partial: "partials/form_input_errors",
                   locals: {form_object: signatory,
                            input_field_id: :phone_number} if signatory.errors[:phone_number].any? %>
        <%= signatory_field.text_field :phone_number, class: "govuk-input govuk-input--width-20 #{'govuk-input--error' if signatory.errors[:phone_number].any?}" %>
      </div>

      
    <% end %>

    </fieldset>

  <% end %>

  <%= submit_tag "Save and continue", {class:'govuk-button', role: 'button', 'aria-label' => 'save and continue button'} %>

<% end %>