<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @organisation,
             page_title: "Who is your legal signatory?"
         }
%>

<%# TODO: Split this into a partial %>
<% if @organisation.errors.any? %>
  <div class="govuk-error-summary" aria-labelledby="error-summary-title"
       role="alert" tabindex="-1" data-module="govuk-error-summary">

    <h2 class="govuk-error-summary__title" id="error-summary-title">
      There is a problem
    </h2>

    <div class="govuk-error-summary__body">

      <ul class="govuk-list govuk-error-summary__list">

        <% @organisation.legal_signatories.each_with_index do |ls, index| %>
          <% ls.errors.each do |attr, msg| %>
            <li>
              <a href='#organisation_legal_signatories_attributes_<%= index %>_<%= attr %>'>
                <%= msg %>
              </a>
            </li>
          <% end %>
        <% end %>

      </ul>

    </div>

  </div>
<% end %>

<h1 class="govuk-heading-xl govuk-!-margin-bottom-5" aria-label="Heading">
  Who is your legal signatory?
</h1>

<p class="govuk-body" id="legal-signatory-1-fieldset-hint">
  A signatory is a person who is authorised to sign legal documents on behalf
  of your organisation. Please tell us the names of 2 legal, or authorised,
  signatories for your organisation.</p>

<p class="govuk-body govuk-!-margin-bottom-7">
  We expect an organisation to have 2 legal signatories. However, we can
  accept 1 signatory in some limited cases,
  <a href="https://www.heritagefund.org.uk/about/contact-us" target="_blank">
    contact us</a> to discuss your application.
</p>

<%=
  form_with model: @organisation,
            url: :organisation_signatories,
            method: :put,
            local: true do |f|
%>

  <%= f.fields_for :legal_signatories do |ls| %>

    <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">
      <legend>
        <h2 class="govuk-heading-m" aria-label="Heading">
          <%#
            We are using ls.index + 1 here to display '1' and '2'
            as :legal_signatories is zero-indexed
          %>
          Legal signatory <%= ls.index + 1 %>
        </h2>
      </legend>
      <div class="govuk-form-group <%= "#{'govuk-form-group--error' if
          @organisation.legal_signatories[ls.index].errors[:name].any?}" %>">

        <%=
          render partial: "partials/form_input_errors",
                 locals: {
                     form_object: @organisation.legal_signatories[ls.index],
                     input_field_id: :name
                 } if @organisation.legal_signatories[ls.index].errors[:name].any?
        %>

        <%= ls.label :name, "Full name", class: "govuk-label" %>

        <%=
          ls.text_field :name,
                        class: "govuk-input govuk-input--width-20 #{'govuk-input--error' if
                            @organisation.legal_signatories[ls.index].errors[:name].any?}"
        %>
      </div>

      <div class="govuk-form-group <%= "#{'govuk-form-group--error' if
          @organisation.legal_signatories[ls.index].errors[:email_address].any?}"
      %>">

        <%=
          render partial: "partials/form_input_errors",
                 locals: {
                     form_object: @organisation.legal_signatories[ls.index],
                     input_field_id: :email_address
                 } if @organisation.legal_signatories[ls.index].errors[:email_address].any?
        %>

        <%= ls.label :email_address, "Email address", class: "govuk-label" %>

        <%=
          ls.text_field :email_address,
                        class: "govuk-input govuk-input--width-20 #{'govuk-input--error' if
                            @organisation.legal_signatories[ls.index].errors[:email_address].any?}"
        %>
      </div>

      <div class="govuk-form-group <%= "#{'govuk-form-group--error' if
          @organisation.legal_signatories[ls.index].errors[:phone_number].any?}"
      %>">

        <%=
          render partial: "partials/form_input_errors",
                 locals: {
                     form_object: @organisation.legal_signatories[ls.index],
                     input_field_id: :phone_number
                 } if @organisation.legal_signatories[ls.index].errors[:phone_number].any?
        %>

        <%= ls.label :phone_number, "Phone number", class: "govuk-label" %>

        <%=
          ls.text_field :phone_number,
                        class: "govuk-input govuk-input--width-20 #{'govuk-input--error' if
                            @organisation.legal_signatories[ls.index].errors[:phone_number].any?}"
        %>

      </div>

    </fieldset>

  <% end %>

  <%= f.save_and_continue %>

<% end %>
