<%= form_for @funding_application, url: :funding_application_hef_loan_declaration, method: :put do |f| %>

  <%# Declaration (agreed to terms) checkbox - a mandatory field with an error partial%>
  <% agreed_to_terms = @funding_application.declarations.first%>

  <div class="govuk-form-group <%= 'govuk-form-group--error' if agreed_to_terms.errors[:agreed_to_terms].any? %>">

    <%= f.fields_for :declarations, agreed_to_terms do | d | %>

      <%=
        render partial: "partials/form_input_errors",
              locals: {
                  form_object: agreed_to_terms,
                  input_field_id: :agreed_to_terms
              } if agreed_to_terms.errors[:agreed_to_terms].any?
      %>   

      <%= agreed_to_terms.json["text"].html_safe %>

      <%# 'Agreed to terms' checkbox - begin by determining if the box has already been checked %>
      <div class="govuk-checkboxes__item">
          <% applicant_has_agreed = agreed_to_terms.json["question_response"].present?  %>
          <%=
            d.check_box :agreed_to_terms,
              {
                id: :agreed_to_terms,
                class: "govuk-checkboxes__input",
                checked: applicant_has_agreed
              },
              "I agree",  
              nil
          %>

          <%=
            d.label :agreed_to_terms,
            I18n.t("hef_loan_declarations_form.questions.agreed_to_terms"),
            class: "govuk-label govuk-checkboxes__label"
          %>

      </div>

    <% end %>

  </div>


  <%# Data and Freedom of Information textbox  - a non mandatory text field - so no error partial%>
  <% data_and_foi = @funding_application.declarations.second%>
  <div class="govuk-form-group">

    <%= data_and_foi.json["text"].html_safe %>

    <%= f.fields_for :declarations, data_and_foi do | d | %>

      <%=
        d.text_area :applicants_response,
                    rows: 10,
                    class: "govuk-textarea", "aria-describedby" => I18n.t("hef_loan_declarations_form.hints.data_and_foi")
      %>
    <% end %>
  </div>


  <%# Declaration (Data Protection and Research) %>
  <% data_protection_and_research = @funding_application.declarations.third%>

  <div class="govuk-form-group <%= 'govuk-form-group--error' if data_protection_and_research.errors[:data_protection_and_research].any? %>">

    <%= f.fields_for :declarations, data_protection_and_research do | d | %>

      <%=
        render partial: "partials/form_input_errors",
              locals: {
                  form_object: data_protection_and_research,
                  input_field_id: :data_protection_and_research
              } if data_protection_and_research.errors[:data_protection_and_research].any?
      %>   

      <%= data_protection_and_research.json["text"].html_safe %>

      <%# 'begin by determining if the box has already been checked %>
      <div class="govuk-checkboxes__item">
          <% applicant_wants_to_do_data_protection_and_research = data_protection_and_research["question_response"].present?  %>
          <%=
            d.check_box :data_protection_and_research,
              {
                id: :data_protection_and_research,
                class: "govuk-checkboxes__input",
                checked: applicant_wants_to_do_data_protection_and_research
              },
              "Yes, I would like to be involved in user research",  
              nil
          %>

          <%=
            d.label :data_protection_and_research,
            I18n.t("hef_loan_declarations_form.questions.data_protection_and_research"),
            class: "govuk-label govuk-checkboxes__label"
          %>

      </div>

    <% end %>

  </div>


  <%# Declaration (confirmation) checkbox %>
  <% contact = @funding_application.declarations.fourth%>

  <div class="govuk-form-group <%= 'govuk-form-group--error' if contact.errors[:contact].any? %>">

    <%= f.fields_for :declarations, contact do | d | %>

      <%=
        render partial: "partials/form_input_errors",
              locals: {
                  form_object: contact,
                  input_field_id: :contact
              } if contact.errors[:contact].any?
      %>   

      <%= contact.json["text"].html_safe %>

      <%# 'begin by determining if the box has already been checked %>
      <div class="govuk-checkboxes__item">
          <% applicant_can_be_contacted = contact.json["question_response"].present?  %>
          <%=
            d.check_box :contact,
              {
                id: :contact,
                class: "govuk-checkboxes__input",
                checked: applicant_can_be_contacted
              },
              "would like to be kept informed of the work of the Fund",  
              nil
          %>

          <%=
            d.label :contact,
            I18n.t("hef_loan_declarations_form.questions.contact"),
            class: "govuk-label govuk-checkboxes__label"
          %>

      </div>

    <% end %>

  </div>


  <%# Declaration (Confirmation) checkbox %>
  <% confirmation = @funding_application.declarations.fifth%>

  <div class="govuk-form-group <%= 'govuk-form-group--error' if confirmation.errors[:confirmation].any? %>">

    <%= f.fields_for :declarations, confirmation do | d | %>

      <%=
        render partial: "partials/form_input_errors",
              locals: {
                  form_object: confirmation,
                  input_field_id: :confirmation
              } if confirmation.errors[:confirmation].any?
      %>   

      <%= confirmation.json["text"].html_safe %>

      <%# 'begin by determining if the box has already been checked %>
      <div class="govuk-checkboxes__item">
          <% applicant_has_confirmed = confirmation.json["question_response"].present?  %>
          <%=
            d.check_box :confirmation,
              {
                id: :confirmation,
                class: "govuk-checkboxes__input",
                checked: applicant_has_confirmed
              },
              "I confirm that I agree with the above statements",  
              nil
          %>

          <%=
            d.label :confirmation,
            I18n.t("hef_loan_declarations_form.questions.confirmation"),
            class: "govuk-label govuk-checkboxes__label"
          %>

      </div>

    <% end %>

  </div>


  <%# form_feedback textbox  - a non mandatory text field - so no error partial%>
  <% form_feedback = @funding_application.declarations[5]%>
  <div class="govuk-form-group">

    <%= form_feedback.json["text"].html_safe %>

    <%= f.fields_for :declarations, form_feedback do | d | %>

      <%=
        d.text_area :applicants_response,
                    rows: 10,
                    class: "govuk-textarea", "aria-describedby" => I18n.t("hef_loan_declarations_form.text.form_feedback")
      %>
    <% end %>
  </div>


  <%=
    render(
        ButtonComponent.new(
            element: "input",
            text: "Submit application",
            attributes: [
                {
                    attribute: "aria-label",
                    value: "Submit application button"
                },
                {
                    attribute: ("disabled" unless Flipper.enabled?(:grant_programme_hef_loan)),
                    value: ("disabled" unless Flipper.enabled?(:grant_programme_hef_loan))
                }
            ]
        )
    )
  %>

<% end %>
