<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @funding_application,
             page_title: "Apply for a COVID-19 Response Loan"
         }
%>
<%= form_for @funding_application, url: :funding_application_hef_loan_application_form, method: :put, local: true do |f| %>

  <h1 class="govuk-heading-xl">
    Apply for a COVID-19 Response Loan
  </h1>

  <%= 
    render partial: "funding_application/hef_loan/form/partials/summary_of_errors" if 
      @funding_application.errors.any?
  %>

  <%= 
    render partial: "funding_application/hef_loan/form/partials/section_2",
           locals: {
             form_object: f
           }
  %>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <%=
    render partial: "funding_application/hef_loan/form/partials/section_3",
           locals: {
             form_object: f
           }
  %>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <%=
    render partial: "funding_application/hef_loan/form/partials/section_4",
           locals: {
             form_object: f
           }
  %>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <%=
    render partial: "funding_application/hef_loan/form/partials/section_5",
           locals: {
             form_object: f
           }
  %>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <%=
    render partial: "funding_application/hef_loan/form/partials/section_6",
           locals: {
             form_object: f
           }
  %>

  <%= f.save_and_continue %>

<% end %>
