<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    <%= t('views.funding_application.gp_project.check_your_answers.where_is_your_project_taking_place') %>
  </dt>
  <dd class="govuk-summary-list__value">

    <% unless @funding_application.project.line1.present? %>

      Not Answered

    <% else %>

      <% if @funding_application.project.line1.present? %>
        <p><%= @funding_application.project.line1 %></p>
      <% end %>

      <% if @funding_application.project.line2.present? %>
        <p><%= @funding_application.project.line2 %></p>
      <% end %>

      <% if @funding_application.project.line3.present? %>
        <p><%= @funding_application.project.line3 %></p>
      <% end %>

      <% if @funding_application.project.townCity.present? %>
        <p><%= @funding_application.project.townCity %></p>
      <% end %>

      <% if @funding_application.project.county.present? %>
        <p><%= @funding_application.project.county %></p>
      <% end %>

      <% if @funding_application.project.postcode.present? %>
        <p><%= @funding_application.project.postcode %></p>
      <% end %>

    <% end %>

  </dd>

  <%= render partial: 'funding_application/gp_project/check_answers/change_link',
             locals: {
                 link_url: funding_application_gp_project_location_path,
                 link_hidden_label: t('views.funding_application.gp_project.check_your_answers.where_is_your_project_taking_place')
             }
  %>

</div>
