<div class="govuk-summary-list__row">

  <dt class="govuk-summary-list__key">
    <%= t('views.funding_application.gp_project.check_your_answers.non_cash_contributions') %>
  </dt>

  <dd class="govuk-summary-list__value">

    <table class="govuk-table">

      <thead class="govuk-table__head">

      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Description</th>
        <th scope="col" class="govuk-table__header">Amount</th>
      </tr>

      </thead>

      <tbody class="govuk-table__body">

      <% @funding_application.project.non_cash_contributions.each do |ncc| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= ncc.description %></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><%= number_to_currency(ncc.amount, strip_insignificant_zeros: true) %></td>
        </tr>
      <% end %>

      <tr>
        <td class="govuk-heading-s govuk-!-padding-top-3">Total</td>
        <td class="govuk-table__cell--numeric"><%= number_to_currency(calculate_total(@funding_application.project.non_cash_contributions), strip_insignificant_zeros: true) %></td>
      </tr>

      </tbody>

    </table>

  </dd>

  <%= render partial: 'funding_application/gp_project/check_answers/change_link',
             locals: {
                 link_url: funding_application_gp_project_non_cash_contributions_path,
                 link_hidden_label: t('views.funding_application.gp_project.check_your_answers.non_cash_contributions')
             }
  %>

</div>
