<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @pre_application.pa_project_enquiry,
      page_title: t('project_reasons.page_title')
         }
%>

<%= render partial: "partials/summary_errors", locals: {
    form_object: @pre_application.pa_project_enquiry,
    first_form_element: :pa_project_enquiry_project_reasons
} if @pre_application.pa_project_enquiry.errors.any? %>

<%=
  form_for @pre_application.pa_project_enquiry,
  url: :pre_application_project_enquiry_why_you_want_to_do_this_project,
  method: :put do |f| 
%>

  <div class="govuk-form-group <%= "govuk-form-group--error" if
    @pre_application.pa_project_enquiry.errors[:project_reasons].any? %>">

    <h1 class="govuk-label-wrapper">

      <%= 
        f.label :project_reasons,
        t('project_reasons.page_heading'),
        class: "govuk-label govuk-label--xl govuk-!-margin-bottom-4"
      %>

    </h1>

    <%=
      render partial: "partials/form_input_errors",
               locals: {form_object: @pre_application.pa_project_enquiry,
                        input_field_id: :project_reasons} if 
                          @pre_application.pa_project_enquiry.errors[:project_reasons].any?
    %>

    <%=
      f.text_area :project_reasons,
                  rows: 10,
                  class: "govuk-textarea " \
                          "#{'govuk-textarea--error' if
                      @pre_application.pa_project_enquiry.errors[:project_reasons].any?}"
    %>

  </div>

  <%= 
    render(
      ButtonComponent.new(
        element: "button"
      )
    ) 
  %>

<% end %>
