<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @funding_application.project,
             page_title: t('title.page_title')
         }
%>

<%= render partial: "partials/summary_errors", locals: {
    form_object: @funding_application.project,
    first_form_element: :project_project_title
} if @funding_application.project.errors.any? %>

<%=
  form_for @funding_application.project,
  url: :funding_application_gp_project_title,
  method: :put do |f| 
%>

  <div class="govuk-form-group <%= "govuk-form-group--error" if
    @funding_application.project.errors[:project_title].any? %>">

    <h1 class="govuk-label-wrapper">

      <span class="govuk-caption-xl">
        <%= t('views.funding_application.common.about_your_project') %>
      </span>

      <%= 
        f.label :project_title,
        t('title.page_heading'),
        class: "govuk-label govuk-label--xl govuk-!-margin-bottom-4"
      %>

    </h1>

    <span id="project-title-hint" class="govuk-hint">
      <%= t('title.page_hint') %>
    </span>

    <%= render partial: "partials/form_input_errors",
               locals: {form_object: @funding_application.project,
                        input_field_id: :project_title} if @funding_application.project.errors[:project_title].any? %>

    <%=
      f.text_field :project_title,
      class: "govuk-input #{'govuk-input--error' if 
        @funding_application.project.errors[:project_title].any?}",
        'aria-described-by' => 'project-title-hint'
    %>

  </div>

  <%= render(ButtonComponent.new(element: "input")) %>

<% end %>
