<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @funding_application.project,
             page_title: "Why is your organisation best placed?"
         }
%>

<%=
  render partial: "partials/summary_errors",
         locals: {
             form_object: @funding_application.project,
             first_form_element: :project_best_placed_description
         } if @funding_application.project.errors.any?
%>

<%=
  form_for @funding_application.project,
           url: :funding_application_gp_project_why_is_your_organisation_best_placed,
           method: :put do |f|
%>

  <div class="govuk-character-count" data-module="govuk-character-count"
       data-maxwords="500">

    <div
      class="govuk-form-group <%= "govuk-form-group--error" if
                             @funding_application.project.errors[:best_placed_description].any? %>">

      <h1 class="govuk-label-wrapper">
        <span class="govuk-caption-xl">About your project</span>
        <%= f.label :best_placed_description,
                    "Why is your organisation best placed to deliver this " \
                    "project?",
                    class: "govuk-label govuk-label--xl"
        %>
      </h1>

      <span id="project_best_placed_description-hint" class="govuk-hint">
        Tell us why specifically your organisation should run this project.
        Demonstrate that you have made contact with relevant projects and
        organisations in your area.
      </span>

      <%=
        render partial: "partials/form_input_errors",
               locals: {
                   form_object: @funding_application.project,
                   input_field_id: :best_placed_description
               } if @funding_application.project.errors[:best_placed_description].any?
      %>

      <%=
        f.text_area :best_placed_description,
                    rows: 10,
                    class: "govuk-textarea govuk-js-character-count " \
                           "#{'govuk-input--error' if
                        @funding_application.project.errors[:best_placed_description].any?}",
                      "aria-describedby" => "project_best_placed_description-" \
                      "info project_best_placed_description-hint"
      %>

      <span id="project_best_placed_description-info"
            class="govuk-hint govuk-character-count__message"
            aria-live="polite">
        You can enter up to 500 words
      </span>

    </div>

  </div>

  <%= render(ButtonComponent.new(element: "input")) %>

<% end %>