<div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Support for your project</span>
      <h1 class="govuk-heading-xl">Evidence of support</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <%= form_for @project, url: three_to_ten_k_project_project_support_evidence_path, method: :put, remote: true do |f| %>

        <div class="nlhf-add-item">
          <header class="nlhf-add-item__header">
            <h2 class="govuk-heading-l nlhf-add-item__header__title">Add evidence</h2>
          </header>
          <div class="nlhf-add-item__body">
            <div class="nlhf-add-item__row">
              <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="50">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="evidence-description">
                    Describe the evidence you are providing
                  </label>
                  <%= f.text_area :evidence_description, value: "", class: 'govuk-textarea govuk-js-character-count' %>
                  <span id="project_evidence_description-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                    You have 50 words remaining
                  </span>
                </div>
              </div>
            </div>
            <div class="nlhf-add-item__row">
              <div class="govuk-form-group">
                <label class="govuk-label" for="evidence-upload">
                  Upload a file
                </label>

                <%= f.file_field :evidence_of_support_files, multiple: false, direct_upload: true %>

              </div>

            </div>
            <div class="nlhf-add-item__row">
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Add evidence
              </button>
      <% end %>
      </div>
      </div>
      </div>

    </div>

    <div class="govuk-grid-column-two-thirds">
      <div class="nlhf-highlight-content nlhf-highlight-content--help">
        <p class="govuk-body-l">
          Send us evidence to support the commitments made to your project.
        </p>
        <p class="govuk-body">
          Evidence for non-cash contributions could be letters, emails or videos showing support from the people involved in your project.
        </p>
        <p class="govuk-body">
          Evidence for secured cash contributions could be a letter from the contributor, or a copy of bank statements to show the funds.
        </p>
      </div>

      <section class="nlhf-summary nlhf-summary--evidence">
        <header class="nlhf-summary__header">
          <h2 class="govuk-heading-m">Your evidence of support</h2>
        </header>
        <% unless @project.evidence_description.any? %>
          <div class="nlhf-summary__body">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-0">You have not added any evidence</h3>
          </div>
        <% else %>
          <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Description</th>
              <th scope="col" class="govuk-table__header">Files</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            <tr>
              <td>
                <% @project.evidence_description.each do |e| %>
                  <%= e %><br>
                <% end %>
              </td>
              <td>
                <% @project.evidence_of_support_files.each do |f| %>
                  <%# TODO: Link to download path (currently not working due to PaaS permissions %>
                  <a href="#" target="_blank"><%= f.blob.filename %></a><br>
                <% end %>
              </td>
            </tr>
            </tbody>
          </table>
        <% end %>
      </section>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">If you have finished adding all your evidence</p>
      <button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </div>
  </div>
</div>
