<%=content_for :page_title, "Volunteers" %>
<div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Support for your project</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Volunteers</h1>
      <p class="govuk-body-l govuk-!-margin-bottom-9">Tell us what you already have in place to support your project.</p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <%= form_with model: @project, url: three_to_ten_k_project_volunteers_path, method: :put do |f| %>
        <% f.fields_for :volunteers, @volunteer do |v| %>
        <div class="nlhf-add-item">
          <header class="nlhf-add-item__header">
            <h2 class="govuk-heading-m">Add a volunteer</h2>
          </header>

          <div class="nlhf-add-item__row">
            <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="50">
              <div class="govuk-form-group">
                <%= v.label :description, class: 'govuk-label' %>
                <%= v.text_area :description, class: 'govuk-textarea govuk-js-character-count', rows: 5 %>
                <span id="<%=v.object_name.gsub(/[\[\]]+/, '_').chop + '_description-info' %>" class="govuk-hint govuk-character-count__message" aria-live="polite">You have 50 words remaining</span>
              </div>
            </div>
          </div>

          <div class="nlhf-add-item__body">

            <div class="nlhf-add-item__row">
              <div class="govuk-form-group">
                <%= v.label :hours, class: 'govuk-label' %>
                <%= v.number_field :hours, class: 'govuk-input' %>
              </div>
            </div>

            <div class="nlhf-add-item__row">
            <%= v.submit 'Add this volunteer', 'data-prevent-double-click' => true, class: 'govuk-button govuk-button--secondary'%>
            </div>

          </div>
        </div>
      <% end %>
    <% end %>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <div class="nlhf-highlight-content nlhf-highlight-content--help">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">What do we mean by volunteers?</h3>
        <p class="govuk-body">Volunteers are people who give up their time for free to help deliver your project.</p>
      </div>

      <section class="nlhf-summary">

        <header class="nlhf-summary__header">
          <h2 class="govuk-heading-m">Your project volunteers</h2>
        </header>
        <% unless @project.volunteers.first&.id.present? %>
          <h3 class="govuk-heading-m">You have not added any volunteers</h3>
          <% else %>

          <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Description</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Hours</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">

              <% @project.volunteers.where.not(id: nil).each do |v| %>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><%= v.description %></th>
                <td class="govuk-table__cell govuk-table__cell--numeric"><%= v.hours %></td>
              </tr>
              <% end %>


            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Total hours</th>
              <td class="govuk-table__cell govuk-table__cell--numeric"><%= calculate_total(@project.volunteers) %></td>
            </tr>
            </tbody>
          </table>
          <% end %>

      </section>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="<%= three_to_ten_k_project_project_support_evidence_path %>" method="get">
            <p class="govuk-body">If you have finished adding volunteers</p>
            <button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>