<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @project,
             page_title: "Evidence of support"
         }
%>

<noscript><% no_js = true %></noscript>

<%# TODO: Split this into a partial %>
<% if @project.errors.any? %>
  <div class="govuk-error-summary" aria-labelledby="error-summary-title"
       role="alert" tabindex="-1" data-module="govuk-error-summary">

    <h2 class="govuk-error-summary__title" id="error-summary-title">
      There is a problem
    </h2>

    <div class="govuk-error-summary__body">

      <ul class="govuk-list govuk-error-summary__list">

        <% @project.errors.each do |attr, msg| %>
          <% unless attr.to_s == "evidence_of_support" %>
            <li>
              <a href='#project_evidence_of_support_attributes_0_<%= "#{attr.to_s.split('.')[1]}" %>'>
                <%= msg %>
              </a>
            </li>
          <% end %>
        <% end %>

      </ul>

    </div>

  </div>
<% end %>

<div id="summary-errors"></div>

<span class="govuk-caption-xl">Support for your project</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Evidence of support</h1>

<p class="govuk-body-l govuk-!-margin-bottom-9">
  Send us evidence to support the commitments made to your project.
</p>

<section class="nlhf-summary nlhf-summary--evidence govuk-!-margin-bottom-9">

  <header class="nlhf-summary__header">
    <h2 class="govuk-heading-m">Your evidence of support</h2>
  </header>

  <div class="nlhf-summary__body">

    <% unless @project.evidence_of_support.first&.id.present? %>

        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">
          You have not added any evidence
        </h3>

    <% else %>

      <table class="govuk-table govuk-!-margin-bottom-0">

        <thead class="govuk-table__head">

          <tr class="govuk-table__row">

            <th scope="col" class="govuk-table__header">Description</th>
            <th scope="col" class="govuk-table__header">Files</th>
            <th scope="col" class="govuk-table__header"></th>

          </tr>

        </thead>

        <tbody class="govuk-table__body">

          <% @project.evidence_of_support.filter { |eos| eos.id.present? }.each do |eos|  %>

            <tr class="govuk-table__row">

              <td class="govuk-table__cell">
                <%= eos.description %>
              </td>

              <td class="govuk-table__cell">
                <%=
                  link_to(eos.evidence_of_support_files.blob.filename,
                          rails_blob_path(
                              eos.evidence_of_support_files.blob,
                              disposition: "attachment"
                          )
                  )
                %>
            </td>

            <td class="govuk-table__cell">
              <%=
                form_with model: @project,
                          url: three_to_ten_k_project_evidence_of_support_delete_path(supporting_evidence_id: eos.id),
                          method: :delete,
                          local: true do |f|
              %>

                <%= f.submit "Delete",
                             class: "govuk-button govuk-button--warning",
                             "data-module" => "govuk-button",
                             "aria-label" => "Delete button"
                %>

              <% end %>

            </td>

          </tr>

          <% end %>

        </tbody>

      </table>

    <% end %>

  </div>

</section>

<%=
  form_with model: @project,
            url: :three_to_ten_k_project_evidence_of_support,
            method: :put,
            remote: no_js ? false : true do |f|
%>

  <%
    f.fields_for :evidence_of_support,
                 @project.evidence_of_support.build do |e|
  %>

  <div class="nlhf-add-item govuk-!-margin-bottom-9">
    
    <header class="nlhf-add-item__header">
      <h2 class="govuk-heading-l">Add evidence</h2>
    </header>

    <div class="nlhf-add-item__body">

      <div class="nlhf-add-item__row">

        <div class="govuk-character-count" data-module="govuk-character-count"
             data-maxwords="50">

          <div class="govuk-form-group <%= "govuk-form-group--error" if
                                               @project.errors['evidence_of_support.description'].any? %>"
               id="evidence_of_support.description-form-group">

            <%=
              render partial: "partials/form_input_errors",
                     locals: {
                         form_object: @project,
                         input_field_id: :'evidence_of_support.description'} if
                  @project.errors['evidence_of_support.description'].any?
            %>

            <div id="evidence_of_support.description-errors"></div>

            <label class="govuk-label" for="evidence-description">
              Describe the evidence you are providing
            </label>

            <%=
              e.text_area :description,
                          value: "",
                          class: "govuk-textarea govuk-js-character-count #{'govuk-textarea--error' if
                              @project.errors['evidence_of_support.description'].any?}",
                          rows: 5
            %>

            <span id="project_evidence_of_support_attributes_0_description-info"
                  class="govuk-hint govuk-character-count__message"
                  aria-live="polite">
              You have 50 words remaining
            </span>

          </div>

        </div>

      </div>
      <!-- / nlhf-add-item__row -->

      <div class="nlhf-add-item__row">
        <div id="file-upload-form-group">
          <div class="govuk-form-group <%= "govuk-form-group--error" if @project.errors['evidence_of_support.evidence_of_support_files'].any? %>"
               id="evidence_of_support.evidence_of_support_files-form-group">

            <%=
              render partial: "partials/form_input_errors",
                     locals: {
                         form_object: @project,
                         input_field_id: :'evidence_of_support.evidence_of_support_files'} if
                  @project.errors['evidence_of_support.evidence_of_support_files'].any?
            %>

            <div id="evidence_of_support.evidence_of_support_files-errors"></div>

            <%=
              e.label :evidence_of_support_files,
                      "Upload a file",
                      class: "govuk-label"
            %>

            <%=
              e.file_field :evidence_of_support_files,
                           multiple: false,
                           direct_upload: true,
                           class: "govuk-file-upload #{'govuk-file-upload--error' if
                               @project.errors['evidence_of_support.evidence_of_support_files'].any?}"
            %>

          </div>
        </div>
      </div>
      <!-- / nlhf-add-item__row -->

      <%# See https://blog.yorkxin.org/2014/02/06/ajax-with-formdata-is-broken-on-ie10-ie11.html
            for the reasoning behind this workaround %>
      <input type="hidden" name="ieworkaround">

      <div class="nlhf-add-item__row">

        <button class="govuk-button govuk-button--secondary"
                data-module="govuk-button">
          Add evidence
        </button>

      </div>
      <!-- / nlhf-add-item__row -->

    </div>

  </div>
    <% end %>
<% end %>

<details class="govuk-details" data-module="govuk-details">

  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with evidence of support
    </span>
  </summary>

  <div class="govuk-details__text">

    <h4 class="govuk-heading-m">What do we mean by evidence of support?</h4>

    <p class="govuk-body">
      Evidence could be letters, emails or videos from people that support
      your project.
    </p> 

    <p class="govuk-body">For example:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>A supportive letter from your local MP</li>
      <li>An email from people involved in your project</li>
      <li>A video from your local school</li>
    </ul>

  </div>

</details>

<hr class="govuk-section-break--l govuk-section-break--visible">

<p class="govuk-body">If you have finished adding all your evidence</p>

<%=
  render(
      ButtonComponent.new(
          element: "a",
          href: three_to_ten_k_project_check_your_answers_url
      )
  )
%>
