<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @project,
             page_title: "Are you getting cash contributions to your project?"
         }
%>

<%=
  render partial: "partials/summary_errors",
         locals: {
             form_object: @project,
             first_form_element: :project_cash_contributions_question_true
         } if @project.errors.any?
%>

<%=
  form_for @project,
           url: :three_to_ten_k_project_cash_contributions_question_put,
           method: :put do |f|
%>

  <div class="govuk-form-group <%= "govuk-form-group--error" if
                                       @project.errors.any? %>">

    <fieldset class="govuk-fieldset">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading">
          <span class="govuk-caption-xl">About your project</span>
          Are you getting any cash contributions to your project?
        </h1>
      </legend>

      <%=
        render partial: "partials/form_group_errors",
               locals: {
                   form_object: @project
               } if @project.errors.any?
      %>

      <span id="project[cash_contributions_question]-hint" class="govuk-hint">
        Select one option.
      </span>

      <div class="govuk-radios" data-module="govuk-radios">

        <div class="govuk-radios__item">

          <%=
            f.radio_button :cash_contributions_question,
                           true,
                           class: "govuk-radios__input"
          %>

          <%=
            f.label :cash_contributions_question_true,
                    "Yes, I am getting cash contributions",
                    class: "govuk-label govuk-radios__label"
          %>

        </div>

        <div class="govuk-radios__item">

          <%=
            f.radio_button :cash_contributions_question,
                           false,
                           class: "govuk-radios__input"
          %>

          <%=
            f.label :cash_contributions_question_false,
                    "No, I am not getting cash contributions",
                    class: "govuk-label govuk-radios__label"
          %>

        </div>

      </div>

    </fieldset>

  </div>

  <%= render(ButtonComponent.new(element: "input")) %>

<% end %>
