<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @project,
             page_title: "Cash contributions"
         }
%>

<noscript><% no_js = true %></noscript>

<%# TODO: Split this into a partial %>
<% if @project.errors.any? %>
  <div class="govuk-error-summary" aria-labelledby="error-summary-title"
       role="alert" tabindex="-1" data-module="govuk-error-summary">

    <h2 class="govuk-error-summary__title" id="error-summary-title">
      There is a problem
    </h2>

    <div class="govuk-error-summary__body">

      <ul class="govuk-list govuk-error-summary__list">

        <% @project.errors.each do |attr, msg| %>
          <% unless attr.to_s == "cash_contributions" %>
            <li>
              <a href='#project_cash_contributions_attributes_0_<%= "#{attr.to_s.split('.')[1]}" %>'>
                <%= msg %>
              </a>
            </li>
          <% end %>
        <% end %>

      </ul>

    </div>

  </div>
<% end %>

<div id="summary-errors"></div>

<span class="govuk-caption-xl">Support for your project</span>
<h1 class="govuk-heading-xl">Cash contributions</h1>

<section class="nlhf-summary nlhf-summary--cash govuk-!-margin-bottom-9">

  <header class="nlhf-summary__header">
    <h2 class="govuk-heading-m">Your cash contributions</h2>
  </header>

  <div class="nlhf-summary__body">

    <% if @project.cash_contributions.empty? %>

      <h3 class="govuk-heading-m govuk-!-margin-bottom-0">
        You have not added any cash contributions
      </h3>

    <% else %>

      <table class="govuk-table nlhf-table">

        <thead class="govuk-table__head">

          <tr class="govuk-table__row">

            <th scope="col" class="govuk-table__header govuk-!-width-one-half">
              Description
            </th>

            <th scope="col" class="govuk-table__header">Secured</th>

            <th scope="col"
                class="govuk-table__header govuk-table__header--numeric">
              Value
            </th>

            <th scope="col" class="govuk-table__header"></th>

          </tr>

        </thead>

        <tbody class="govuk-table__body">

          <% @project.cash_contributions.filter { |cc| cc.id.present? }.each do |cc| %>

            <tr class="govuk-table__row">

              <td class="govuk-table__cell nlhf-table__cell govuk-!-width-one-half nlhf-table__cell--text">
                <%= cc.description %>
              </td>

              <td class="govuk-table__cell">

                <%= cc.secured&.gsub('x_', '')&.humanize&.gsub('Yes ', 'Yes, ') %>

                <% if cc.cash_contribution_evidence_files.present? %>

                  <div class="nlhf-!-break-word govuk-!-font-size-16">
                    <%=
                      link_to(
                          "Evidence attached",
                          rails_blob_path(
                              cc.cash_contribution_evidence_files,
                              disposition: "attachment"
                          ),
                          title: "Click to view file: #{cc.cash_contribution_evidence_files.filename}"
                      )
                    %>
                  </div>

                <% end %>

            </td>

            <td class="govuk-table__cell govuk-table__cell--numeric">

              <%= number_to_currency(
                      cc.amount,
                      strip_insignificant_zeros: true
                  ) if cc.amount.present?
              %>

            </td>

            <td class="govuk-table__cell">

              <%= form_with model: @project,
                            url: three_to_ten_k_project_cash_contribution_delete_path(cash_contribution_id: cc.id),
                            method: :delete,
                            local: true do |f| %>

                <%=
                  render(
                      ButtonComponent.new(
                          element: "input",
                          classes: "govuk-button--warning",
                          text: "Delete",
                          attributes: [
                              {
                                  attribute: "aria-label",
                                  value: "Delete button"
                              }
                          ]
                      )
                  )
                %>

              <% end %>

            </td>

          </tr>

        <% end %>

        </tbody>

      </table>

      <div class="nlhf-summary__total">

        <h3 class="nlhf-summary__total__title">

          <span class="nlhf-summary__total__title-text">Total </span>

          <span class="nlhf-summary__total__title-val">

            <%=
              number_to_currency(
                  calculate_total(
                      @project.cash_contributions
                  ),
                  strip_insignificant_zeros: true
              )
            %>

          </span>

        </h3>

      </div>

    <% end %>

  </div>
  <!-- /.nlhf-summary__body -->
</section>
<!-- /.nlhf-summary-container -->

<%=
  form_with model: @project,
            url: :three_to_ten_k_project_project_cash_contribution,
            method: :put,
            remote: no_js ? false : true do |f|
%>

  <%
    f.fields_for :cash_contributions, @project.cash_contributions.build do |cc|
  %>

    <div class="nlhf-add-item govuk-!-margin-bottom-6">

      <header class="nlhf-add-item__header">
        <h2 class="govuk-heading-l">Add a cash contribution</h2>
      </header>

      <div class="nlhf-add-item__body">

        <div class="nlhf-add-item__row">

          <div class="govuk-character-count" data-module="govuk-character-count"
               data-maxwords="50">

            <div class="govuk-form-group <%= "govuk-form-group--error" if
                                                 @project.errors['cash_contributions.description'].any? %>"
                 id="cash_contributions.description-form-group">

              <%=
                render partial: "partials/form_input_errors",
                       locals: {
                           form_object: @project,
                           input_field_id: :'cash_contributions.description'} if
                    @project.errors['cash_contributions.description'].any?
              %>

              <div id="cash_contributions.description-errors"></div>

              <%=
                cc.label :description,
                         class: 'govuk-label'
              %>

              <%=
                cc.text_area :description,
                             class: "govuk-textarea govuk-js-character-count #{'govuk-textarea--error' if
                                 @project.errors['cash_contributions.description'].any?}",
                             rows: 5
              %>

              <span class="govuk-hint govuk-character-count__message"
                    id="project_cash_contributions_attributes_0_description-info"></span>

            </div>

          </div>

        </div>
        <!-- / nlhf-add-item__row -->

        <div class="nlhf-add-item__row">

          <div class="govuk-form-group <%= "govuk-form-group--error" if
                                               @project.errors['cash_contributions.secured'].any? %>"
               id="cash_contributions.secured-form-group">

            <fieldset class="govuk-fieldset">

              <%=
                render partial: "partials/form_input_errors",
                       locals: {
                           form_object: @project,
                           input_field_id: :'cash_contributions.secured'} if
                      @project.errors['cash_contributions.secured'].any?
              %>

              <div id="cash_contributions.secured-errors"></div>

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                  Is this cash contribution secured?
                </h2>
              </legend>

              <span id="cash-contribution-conditional-hint" class="govuk-hint">
                Select one option.
              </span>

              <div class="govuk-radios govuk-radios--conditional govuk-radios--small"
                   data-module="govuk-radios">

                <div class="govuk-radios__item">

                  <%=
                    cc.radio_button :secured,
                                    "yes_with_evidence",
                                    class: "govuk-radios__input",
                                    'data-aria-controls': "conditional-cash-contribution-conditional"
                  %>

                  <%=
                    cc.label :secured_yes_with_evidence,
                             'Yes and I can provide evidence'.html_safe,
                             class: "govuk-label govuk-radios__label"
                  %>

                </div>

                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                     id="conditional-cash-contribution-conditional">

                  <div class="govuk-form-group <%= 'govuk-form-group--error' if
                                                       @project.errors['cash_contributions.cash_contribution_evidence_files'].any? %>"
                       id="cash_contributions.cash_contribution_evidence_files-form-group">

                    <%=
                      render partial: "partials/form_input_errors",
                             locals: {
                                 form_object: @project,
                                 input_field_id: :'cash_contributions.cash_contribution_evidence_files'} if
                            @project.errors['cash_contributions.cash_contribution_evidence_files'].any?
                    %>

                    <div id="cash_contributions.cash_contribution_evidence_files-errors"></div>

                    <%=
                      cc.label :cash_contribution_evidence_files,
                               "Evidence could be a letter from the " \
                               "contributor, or a copy of bank statements to " \
                               "show the funds.",
                               class: 'govuk-caption-m govuk-!-margin-bottom-3'
                    %>

                    <%=
                      cc.file_field :cash_contribution_evidence_files,
                                    class: "govuk-file-upload #{'govuk-file-upload--error' if
                                        @project.errors['cash_contributions.cash_contribution_evidence_files'].any?}",
                                    multiple: false,
                                    direct_upload: true
                    %>

                  </div>

                </div>

                <div class="govuk-radios__item">

                  <%=
                    cc.radio_button :secured,
                                    "yes_no_evidence_yet",
                                    class: "govuk-radios__input"
                  %>

                  <%=
                    cc.label :secured_yes_no_evidence_yet,
                             'Yes but I do not have evidence yet'.html_safe,
                             class: "govuk-label govuk-radios__label"
                  %>

                </div>

                <div class="govuk-radios__item">

                  <%=
                    cc.radio_button :secured,
                                    "no",
                                    class: "govuk-radios__input"
                  %>

                  <%=
                    cc.label :secured_no,
                             'No',
                             class: "govuk-label govuk-radios__label"
                  %>

                </div>

                <div class="govuk-radios__item">

                  <%=
                    cc.radio_button :secured,
                                    "x_not_sure",
                                    class: "govuk-radios__input"
                  %>

                  <%=
                    cc.label :secured_x_not_sure,
                             'Not sure',
                             class: "govuk-label govuk-radios__label"
                  %>

                </div>

              </div>

            </fieldset>

          </div>

        </div>
        <!-- / nlhf-add-item__row -->

        <div class="nlhf-add-item__row">

          <div class="govuk-form-group <%= "govuk-form-group--error" if
                                               @project.errors['cash_contributions.amount'].any? %>"
               id="cash_contributions.amount-form-group">

            <%=
              render partial: "partials/form_input_errors",
                     locals: {
                         form_object: @project,
                         input_field_id: :'cash_contributions.amount'} if
                  @project.errors['cash_contributions.amount'].any?
            %>

            <div id="cash_contributions.amount-errors"></div>

            <%=
              cc.label :amount,
                       class: 'govuk-label'
            %>

            <div class="nlhf-currency-denote">

              <div class="nlhf-currency-denote__symbol">
                &pound;
              </div>

              <div class="nlhf-currency-denote__capture">

                <%=
                  cc.text_field :amount,
                                "autocomplete" => "off",
                                  class: "govuk-input govuk-input--width-10 #{'govuk-input--error' if
                                      @project.errors['cash_contributions.amount'].any?}"
                %>

              </div>

            </div>

            <!-- /.nlhf-currency-denote -->
          </div>

        </div>
        <!-- / nlhf-add-item__row -->

        <%# See https://blog.yorkxin.org/2014/02/06/ajax-with-formdata-is-broken-on-ie10-ie11.html
            for the reasoning behind this workaround %>
        <input type="hidden" name="ieworkaround">

        <div class="nlhf-add-item__row">

          <%=
            render(
                ButtonComponent.new(
                    element: "input",
                    text: "Add cash contribution",
                    classes: "govuk-button--secondary"
                )
            )
          %>

        </div>
        <!-- / nlhf-add-item__row -->

      </div>
      <!-- / nlhf-add-item__body -->
    </div>
    <!-- /.nlhf-add-item -->
  <% end %>
<% end %>
<!-- /add-cost form -->

<details class="govuk-details" data-module="govuk-details">

  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with cash contributions
    </span>
  </summary>

  <div class="govuk-details__text">

    <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
      What do we mean by cash contributions?
    </h3>

    <p class="govuk-body">
      Cash contributions include any additional funds you expect to receive for
      your project.
    </p>
    
    <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
      Do I need cash contributions?
    </h3>

    <p class="govuk-body govuk-!-margin-bottom-3">
      You do not need to have cash contributions at this grant level, so don't
      worry if you cannot add anything to this section.
    </p>

    <div class="govuk-warning-text govuk-!-margin-bottom-4">

      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>

      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
          However, if you tell us that you are getting money from elsewhere,
        we will need to see evidence of this, as it helps with our assessment.
      </strong>

    </div>

    <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
      What is a secured contribution?
    </h3>

    <p class="govuk-body">
      By secured we mean the cash in your bank account reserved specifically
      for this project, or grant money has been formally offered. You can add
      evidence later in your application.
    </p>

  </div>

</details>

<hr class="govuk-section-break--l govuk-section-break--visible">

<form action="<%= three_to_ten_k_project_grant_request_get_url %>"
      method="get">

  <p class="govuk-body">
    If you have finished adding all your cash contributions
  </p>

  <%= render(ButtonComponent.new(element: "input")) %>

</form>
