
<div>

  <h1 class="govuk-heading-l" aria-label="Heading">About your organisation</h1>

  <%= form_for @organisation, url: wizard_path, method: :put do |f|  %>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Tell us about the mission, or objectives of your organisation
          </h1>
        </legend>

        <div class="govuk-radios">

          <div class="govuk-radios__item">
            <%= f.radio_button :mission, "black_or_minority_ethnic_led", class: "govuk-radios__input" %>
            <%= f.label :organisation_mission_black_or_minority_ethnic_led, "Black or minority ethnic led", class: "govuk-label govuk-radios__label" %>
          </div>

          <div class="govuk-radios__item">
            <%= f.radio_button :mission, "disability_led", class: "govuk-radios__input" %>
            <%= f.label :organisation_mission_disability_led, "Disability led", class: "govuk-label govuk-radios__label" %>
          </div>

          <div class="govuk-radios__item">
            <%= f.radio_button :mission, "lgbt_plus_led", class: "govuk-radios__input" %>
            <%= f.label :organisation_mission_lgbt_plus_led, "LGBT+ led", class: "govuk-label govuk-radios__label" %>
          </div>

          <div class="govuk-radios__item">
            <%= f.radio_button :mission, "female_led", class: "govuk-radios__input" %>
            <%= f.label :organisation_mission_female_led, "Female led", class: "govuk-label govuk-radios__label" %>
          </div>

          <div class="govuk-radios__item">
            <%= f.radio_button :mission, "young_people_led", class: "govuk-radios__input" %>
            <%= f.label :organisation_mission_young_people_led, "Young people led", class: "govuk-label govuk-radios__label" %>
          </div>

        </div>
      </fieldset>
    </div>

    <%= f.submit "Save and continue", class:'govuk-button', role: 'button', 'aria-label' => 'save and continue button' %>

  <% end %>

</div>
