<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @project,
             page_title: "Select an address"
         }
%>

<%= form_with(url: three_to_ten_k_project_location_assign_address_attributes_path, method: :put, local: true) do |p| %>

  <div class="govuk-form-group">

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">About your project</span>
      Where is your project taking place?
    </h1>

    <%= label_tag "address", "Select an address", class: "govuk-label" %>

    <%= select_tag "address", options_for_select(@response.map { |p| result_formatter(p) }) , class: 'govuk-select' %>

    <%= p.submit "Select", class: 'govuk-button govuk-button--secondary' %>

  </div>

<% end %>