<% content_for :page_title, @project.errors.any? ? "Error: Enter the main postcode of your project" : "Enter the main postcode of your project" %>

<%= render partial: "partials/summary_errors_flash", locals: {
    first_form_element: :postcode_lookup
} if flash[:errors] %>


<%= form_with(url: three_to_ten_k_project_location_search_results_path, local: true) do |p| %>

  <div class="govuk-form-group">

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">About your project</span>
      Where is your project taking place?
    </h1>

    <%= label_tag(:postcode_lookup, "Enter the main postcode of your project", class: 'govuk-label') %>

    <% if flash[:errors] %>
      <span id="<%= :postcode_lookup %>]-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> <%= flash[:errors]['postcode'] %>
      </span>
    <% end %>

    <%= text_field(
            :postcode,
            :lookup,
            autocomplete: 'postal-code',
            class: "govuk-input govuk-input--width-20 #{'govuk-input--error' if flash[:errors]}"
        ) %>

  </div>

  <%= p.submit "Find address",
               class:"govuk-button govuk-button",
               role: "button",
               "aria-label" => "Find address button",
               "data-module" => "govuk-button"
  %>

<% end %>