<% content_for :page_title, @project.errors.any? ? "Error: Where is your project taking place?" : "Where is your project taking place?" %>

<%= render partial: "partials/summary_errors", locals: {
    form_object: @project,
    first_form_element: :project_same_location_yes
} if @project.errors.any? %>

<%= form_for @project, url: three_to_ten_k_project_location_put_path, method: :put do |f| %>

  <div class="govuk-form-group <%= "govuk-form-group--error" if @project.errors.any? %>">

    <fieldset class="govuk-fieldset">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">

        <h1 class="govuk-fieldset__heading">
          <span class="govuk-caption-xl">About your project</span>
          Is the project taking place at the same location as your organisation's address?
        </h1>

      </legend>

      <%= render partial: "partials/form_group_errors", locals: {form_object: @project} if @project.errors.any? %>

      <div class="govuk-radios">

        <div class="govuk-radios__item">
          <%= f.radio_button :same_location, "yes", class: "govuk-radios__input" %>
          <%= f.label :same_location_yes,
                      "Yes, the project is taking place at the same location as my organisation's address",
                      class: "govuk-label govuk-radios__label"
          %>
        </div>

        <div class="govuk-radios__item">
          <%= f.radio_button :same_location, "no", class: "govuk-radios__input" %>
          <%= f.label :same_location_no,
                      "No, the project is not taking place at the same location as my organisation's address",
                      class: "govuk-label govuk-radios__label"
          %>
        </div>

      </div>

    </fieldset>

  </div>

  <%= f.submit "Save and continue", class:'govuk-button', role: 'button', 'aria-label' => 'save and continue button' %>

<% end %>