<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @project,
             page_title: I18n.t("application_submitted.title")
         }
%>

<div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-9">
  <h1 class="govuk-panel__title">
    <%= I18n.t("application_submitted.heading") %>
  </h1>
</div>

<h2 class="govuk-heading-m govuk-!-margin-bottom-2">
  <%= I18n.t("application_submitted.sub_heading_1") %>
</h2>

<ul class="govuk-list govuk-list--number">

  <li>
    <%= I18n.t("hef_loan_application_submitted.list_1.item_1") %>
  </li>

  <li>
    <%= I18n.t("hef_loan_application_submitted.list_1.item_2") %>
  </li>

  <li>
    <%= I18n.t("hef_loan_application_submitted.list_1.item_3") %>
  </li>

  <li>
    <%= I18n.t("hef_loan_application_submitted.list_1.item_4") %>
  </li>

  <li>
    <%= I18n.t("hef_loan_application_submitted.list_1.item_5") %>
  </li>

</ul>

</div>
