<%=
  render partial: "partials/summary_errors_flash",
         locals: {
             first_form_element: :support_type_report_a_problem
         } if flash[:errors]
%>

<%= form_tag :support_question_or_feedback, local: true do %>

  <div class="govuk-form-group <%= "govuk-form-group--error" if flash[:errors] %>">

    <fieldset class="govuk-fieldset">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">

        <h1 class="govuk-fieldset__heading">
          Ask a question or give feedback
        </h1>

      </legend>

      <div class="govuk-form-group">
        <%= label_tag :support_question_or_feedback_message, "Your message", class: "govuk-label" %>
        <%= text_area_tag :support_question_or_feedback_message, nil, rows: 10, class: "govuk-textarea" %>
      </div>

      <h2 class="govuk-heading-m">Do you want a reply?</h2>

      <p class="govuk-body">Leave your details below if you’d like a response.</p>

      <div class="govuk-form-group">
        <%= label_tag :support_problem_name, "Your name", class: "govuk-label" %>
        <%= text_field_tag :support_problem_name, nil, class: "govuk-textarea" %>
      </div>

      <div class="govuk-form-group">
        <%= label_tag :support_problem_message, "Your email address", class: "govuk-label" %>
        <%= email_field_tag :support_problem_email, nil, class: "govuk-input" %>
      </div>

    </fieldset>

  </div>

  <%=
    submit_tag "Send",
               class: 'govuk-button',
               role: 'button',
               'aria-label' => 'Send button',
               'data-module' => 'govuk-button'
  %>

<% end %>