<%
  content_for :page_title,
              flash[:errors].present? ? "Error: Support" : "Support"
%>

<%=
  render partial: "partials/summary_errors_flash",
         locals: {
             first_form_element: :support_type_report_a_problem
         } if flash[:errors]
%>

<%= form_tag :support, class: "govuk-!-margin-bottom-0", local: true do |f| %>

  <div class="govuk-form-group <%= "govuk-form-group--error" if flash[:errors] %>">

    <fieldset class="govuk-fieldset" aria-describedby="how-can-we-help-hint">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">

        <h1 class="govuk-fieldset__heading">
          Support
        </h1>

      </legend>

      <span id="changed-name-hint" class="govuk-hint">
        How can we help you?
      </span>

      <div class="govuk-radios">

        <div class="govuk-radios__item">

          <%= radio_button_tag :support_type, "report_a_problem", false, class: "govuk-radios__input" %>
          <%= label_tag :support_type_report_a_problem, "Report a problem", class: "govuk-label govuk-radios__label" %>

        </div>

        <div class="govuk-radios__item">

          <%= radio_button_tag :support_type, "ask_a_question", false, class: "govuk-radios__input" %>
          <%= label_tag :support_type_ask_a_question, "Ask a question or give feedback", class: "govuk-label govuk-radios__label" %>

        </div>

      </div>

    </fieldset>

  </div>

  <%=
    submit_tag "Continue",
             class: 'govuk-button',
             role: 'button',
             'aria-label' => 'Continue button',
             'data-module' => 'govuk-button'
  %>  

<% end %>

    <div class="govuk-inset-text govuk-!-margin-top-2 govuk-!-margin-bottom-6">
      <p class="govuk-body">
        We can only provide support during office hours which are <br>
          9:00am to 5:00pm, Monday to Friday.
      </p>
      <p class="govuk-body">Outside office hours, your query will be stored for us to read the next working day.</p>
    </div>

    <hr class="govuk-section-break govuk-!-margin-bottom-7 govuk-section-break--visible">
    
    <h2 class="govuk-heading-m">Help and guidance</h2>

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
      <li><a href="https://www.heritagefund.org.uk/funding/check-what-we-fund">Check what we fund</a></li>
      <li><a href="https://www.heritagefund.org.uk/funding/outcomes">Get clear about your project outcomes</a></li>
      <li><a href="https://www.heritagefund.org.uk/funding">Explore our funding programmes</a></li>
    </ul>


    <h2 class="govuk-heading-m">Other ways to contact us</h2>

    <h3 class="govuk-heading-s">Phone</h3>
    <p class="govuk-body">020 7591 6044</p>

    <h3 class="govuk-heading-s">Text phone</h3>
    <p class="govuk-body">020 7591 6255</p>
