<div class="govuk-summary-list__row">

  <dt class="govuk-summary-list__key">
    <%= t('views.project.check_your_answers.permission') %>
  </dt>

  <dd class="govuk-summary-list__value">
    <% if @project.permission_type.present? %>

      <% if @project.permission_type == "no" || @project.permission_type == "yes" %>

        <%= @project.permission_type.humanize %>

      <% else %>

        Not sure

      <% end %>

    <% else %>

      <%= t('views.project.check_your_answers.not_answered') %>

    <% end %>
  </dd>

  <%= render partial: 'project/check_answers/change_link',
             locals: {
                 link_url: three_to_ten_k_project_permission_get_path,
                 link_hidden_label: t('views.project.check_your_answers.permission')
             }
  %>

</div>

<% if @project.permission_type == "yes" || @project.permission_type == "x_not_sure" %>

  <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key">
      <%= t('views.project.check_your_answers.more_info_about_permission') %>
    </dt>

    <dd class="govuk-summary-list__value">
      <%= @project.permission_description.nil? ? t('views.project.check_your_answers.not_answered') : @project.permission_description %>
    </dd>

    <%= render partial: 'project/check_answers/change_link',
               locals: {
                   link_url: three_to_ten_k_project_permission_get_path,
                   link_hidden_label: t('views.project.check_your_answers.permission')
               }
    %>

  </div>

<% end %>
