<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @project,
             page_title: "Check your answers"
         }
%>

<%=
  render partial: "partials/summary_errors",
         locals: {
             form_object: @project,
             first_form_element: :organisation_org_type_registered_charity
         } if @project.errors.any?
%>

<span class="govuk-caption-xl">About your project</span>
<h1 class="govuk-heading-xl"><%= t('views.project.check_your_answers.page_title') %></h1>

<dl class="govuk-summary-list">
  <%= render 'project/check_answers/title' %>
  <%= render 'project/check_answers/start_date' %>
  <%= render 'project/check_answers/end_date' %>
  <%= render 'project/check_answers/location' %>
  <%= render 'project/check_answers/description' %>
  <%= render 'project/check_answers/capital_work' %>
  <%= render 'project/check_answers/permission' %>
  <%= render 'project/check_answers/difference' %>
  <%= render 'project/check_answers/community_matters' %>
  <%= render 'project/check_answers/heritage' %>
  <%= render 'project/check_answers/best_placed' %>
  <%= render 'project/check_answers/involvement' %>
  <%= render 'project/check_answers/other_outcomes' %>
  <%= render 'project/check_answers/costs' %>
  <%= render 'project/check_answers/cash_contributions' %>
  <%= render 'project/check_answers/non_cash_contributions' %>
  <%= render 'project/check_answers/volunteers' %>
  <%= render 'project/check_answers/evidence_of_support' %>

</dl>

<%=
  form_with model: @project,
            url: :three_to_ten_k_project_check_your_answers,
            method: :put,
            local: true do |f|
%>

  <%=
    f.save_and_continue
  %>

<% end %>
