<% content_for :page_title, @project.errors.any? ? "Error: Project title" : "Project title" %>

<%= render partial: "partials/summary_errors", locals: {
    form_object: @project,
    first_form_element: :project_project_title
} if @project.errors.any? %>

<%= form_for @project, url: three_to_ten_k_project_title_put_path, method: :put do |f| %>

  <div class="govuk-form-group">

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">About your project</span>
      Project title
    </h1>

    <span id="project-title-hint" class="govuk-hint">
      Give your project a title or name that we can refer to it by
    </span>

    <%= render partial: "partials/form_input_errors",
               locals: {form_object: @project,
                        input_field_id: :project_title} if @project.errors[:project_title].any? %>

    <%= f.text_field :project_title, class: "govuk-input #{'govuk-input--error' if @project.errors[:project_title].any?}", 'aria-described-by' => 'project-title-hint' %>

  </div>

  <%= f.submit "Save and continue", class: "govuk-button", role: "button", "aria-label" => "save and continue button" %>

<% end %>
