<!DOCTYPE html>
<html lang="en" class="govuk-template nlhf-template">
<head>
  <%= Gon::Base.render_data %>
  <title><%= yield(:page_title) %> - National Lottery Heritage Fund</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="turbolinks-visit-control" content="reload">
  <%= render "partials/social_meta_tags" %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <% if @has_file_upload %>
    <%= javascript_tag defer: 'defer' do %>
      <%= render partial: 'partials/direct_file_upload_hooks',
                 formats: [:js] %>
    <% end %>
  <% end %>
</head>
<body class="govuk-template__body nlhf-template__body" data-turbolinks="false">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
  <%= render "partials/cookie_banner" %>
  <%= render "partials/header" %>
  <%= render "partials/toolbar" %>
  <div class="govuk-width-container">
    <%= render "partials/phase-banner" %>
    <main class="govuk-main-wrapper" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <%= yield %>
        </div>
        <% if content_for? :secondarycontent %>
          <div class="govuk-grid-column-one-third">
            <%= yield :secondarycontent %>
          </div>
        <% end %>
      </div>
    </main>
  </div>
 <footer class="govuk-footer nlhf-footer" role="contentinfo">
  <div class="govuk-width-container">  
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">          
        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <%= link_to("Get support", support_path, class: "govuk-footer__link") %>
          </li>
          <li class="govuk-footer__inline-list-item">
            <%= link_to("Accessibility statement", :accessibility_statement, class: "govuk-footer__link") %>
          </li>
          <li class="govuk-footer__inline-list-item">
            <%= link_to("Cookie settings", help_cookies_path, class: "govuk-footer__link") %>
          </li>
          <li class="govuk-footer__inline-list-item">
            <%= 
              link_to(
                "English",
                replace_locale_in_url(request.url, 'en-GB'),
                class: "govuk-footer__link") 
            %>
          </li>
          <li class="govuk-footer__inline-list-item">
            <%= 
              link_to(
                "Cymraeg",
                replace_locale_in_url(request.url, 'cy'),
                class: "govuk-footer__link") 
            %>
          </li>
        </ul>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-footer__meta-custom">
          &copy; Trustees of the National Heritage Memorial Fund
        </div>
      </div>
    </div>
  </div>
</footer>
  <%= javascript_pack_tag 'application', 'data-turbolinks-suppress-warning':'true', 'data-turbolinks-eval': "false", 'data-turbolinks-track': 'reload' %>
</body>
</html><!-- Thanks Tom (@Steiny) & Sue (@SueBow94) -->
