<!DOCTYPE html>
<html lang="en" class="govuk-template nlhf-template">
<head>
  <title><%= yield(:page_title) %> - National Lottery Heritage Fund</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="turbolinks-visit-control" content="reload">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body class="govuk-template__body nlhf-template__body">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
  <%= render "partials/header" %>
  <%= render "partials/toolbar" %>
  <div class="govuk-width-container">
    <%= render "partials/phase-banner" %>
    <main class="govuk-main-wrapper" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <%= yield %>
        </div>
        <% if content_for? :secondarycontent %>
          <div class="govuk-grid-column-one-third">
            <%= yield :secondarycontent %>
          </div>
        <% end %>
      </div>
    </main>
  </div>
 <footer class="govuk-footer nlhf-footer" role="contentinfo">
  <div class="govuk-width-container">  
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">          
        <ul class="govuk-footer__inline-list">
            <li class="govuk-footer__inline-list-item">
              <%= link_to("Get support", support_path, class: "govuk-footer__link") %>
            </li>
        </ul>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-footer__meta-custom">
          &copy; Trustees of the National Heritage Memorial Fund
        </div>
      </div>
    </div>
  </div>
</footer>
  <%= javascript_pack_tag 'application', 'data-turbolinks-suppress-warning':'true', 'data-turbolinks-eval': "false", 'data-turbolinks-track': 'reload' %>
  <%= render "partials/tracking_tags" if Rails.env.production? %>
</body>
</html>