<!DOCTYPE html>
<html lang="en">
<head>
  <title>FundingFrontendRuby</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <!-- TODO implement custom layouts and path helpers when routes are concrete-->
      <% if request.path.to_s == '/project/cash-contribution' %>
        <div class="govuk-grid-column-full">
      <% else %>
        <div class="govuk-grid-column-two-thirds">
      <% end %>
      <%= render "layouts/header" %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
      <%= render "layouts/footer" %>
      </div>
    </div>
  </main>
</div>
</body>
</html>