<!DOCTYPE html>
<html lang="en" class="govuk-template nlhf-template">
<head>
  <title><%= yield(:page_title) %> - National Lottery Heritage Fund</title>
  <meta charset="utf-8" />
  <title>FundingFrontendRuby</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="govuk-template__body nlhf-template__body">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
  <%= render "partials/header" %>
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <%= yield %>
        </div>
      </div>
  </main>
</div>
</body>
</html>