<!DOCTYPE html>
<html lang="en">
<head>
  <title>FundingFrontendRuby</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body class="govuk-template__body nlhf-826 js-enabled">
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render "layouts/header" %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
        <%= render "layouts/footer" %>
      </div>
    </div>
  </main>
</div>
</body>
</html>